.contactus{
	font-size: 22px;
	font-size/*\**/:18px\9; /* for IE7-8 */

	.row{
		padding-left: 15px;
		padding-right: 15px;

		.col-lg-6, .col-md-6, .col-sm-6, .col-xs-12{
			border: 1px solid #ececec;
			border-bottom: 1px solid #f5f5f5;

			.last{
				border-bottom: 1px solid #ececec;
			}
		}
	}
	.address{
		color: #000;
		font-size: 0.9em;
		margin-top: 10px;
		margin-bottom: 30px;
		.title{
			color: #5579a2;
			font-size: 1.2em;
			font-size/*\**/:16px\9; /* for IE7-8 */
			font-family: 'ozonex-m';
		}
		.left{
			float: left;
			width: 31.3333%;
			padding-left: 15px;
		}
		.right{
			float: left;
			width: 60.6666%;
			line-height: 1.7em;
			font-size/*\**/:14px\9; /* for IE7-8 */
		}
	}
	.address_form{
		color: #000;
		margin-top: 20px;
		.row_form{}
		.mb20{ margin-bottom: 20px; }
		label{
			float: left;
			width: 10.6666%;
			font-family: 'ozonex';
			font-size: 0.8em;
			font-weight: 400;
			line-height: 2em;
		}
		input{
			height: 34px;
			width: 220px;
			border:0;
			background-color: #f1f1f1;
			float: left;
			margin-right: 20px;
            padding:0 7px;
		}
		textarea{
			background-color: #f1f1f1;
			border:0;
			width: 82.7%;
            padding:0 7px;
		}
		.btn_confirm{
			padding: 6px 16px;
			width: auto !important;
			background-color: #5579a2;
			border:1px solid #99afc7;
			text-align: center;
			color: #fff;
			line-height: 0.5em !important;
			float: right;
			margin-right: 40px;
		}
		.address_box_top{
			width: 100%;
			padding: 15px 15px 25px 15px;
			margin-bottom: 25px;
			height: auto;
			background: #f4f4f4;
			-webkit-box-shadow: 0px 10px 20px -15px rgba(50, 50, 50, 0.6);
			-moz-box-shadow:    0px 10px 20px -15px rgba(50, 50, 50, 0.6);
			box-shadow:         0px 10px 20px -15px rgba(50, 50, 50, 0.6);

			h1{
				font-family: 'ozonex-m';
				font-size: 24px;
				line-height: 34px;
				padding: 0;
				margin: 0;
			}
			p{
				font-family: 'ozonex';
				font-size: 20px;
				line-height: 30px;
				padding: 0;
				margin: 0;

				a{
					color: #000;
					text-decoration: none;
					&:hover{
						color:#6989ad;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.addres_small{
		padding: 12px;
        height:250px;
		h2{
			font-family: 'ozonex-m';
			font-size: 19px;
			line-height: 28px;
			color: #000;
			padding: 0;
			margin: 0;
		}
		p{
			font-family: 'ozonex';
			font-size: 17px;
			line-height: 20px;
			color: #000;
			padding: 0;
			margin: 0;

			a{
				color: #000;
				text-decoration: none;
				&:hover{
					color:#6989ad;
					text-decoration: underline;
				}
			}
		}
	}
}