footer{
    width: 100%;
    padding: 15px 0;
    margin: 40px 0 15px 0;
    background-image: url('../img/bg_footer.jpg');
    background-position: top;
    background-repeat: repeat-x;

    .col-md-6{
        padding-left: 4px;
    }

    .banner1{
        text-align: left;
        float: left;
        width: 50%;
        position: relative;
        .txt_link{
            position: absolute;
            top: 32px;
            left: 60px;
            a{
                color: #034ea2;
                font-size: 14px;
                text-decoration: none;
                &:hover{ text-decoration: underline;}
            }
        }
    }
    .banner2{
        float: right;
    }
    .menu{
        padding-top: 15px;

        .left{
            float: left;
            text-align: left;
            padding-left: 4px;
            width: 61%;
            font-size: 0.7em;
            font-size/*\**/:9px\9; /* for IE7-8 */

            a{
                font-size: 0.7em;
                font-size/*\**/:9px\9; /* for IE7-8 */
                text-decoration: none;
                &:hover{
                    text-decoration:underline;
                    color: #7395bc;
                }
            }
        }
        .right{
            float: right;
            text-align: right;
            font-size: 0.7em;
            font-size/*\**/:10px\9; /* for IE7-8 */
        }
    }
    .bottom_txt{
        text-align: left;
        font-family: 'ozonex';
        font-size: 14px;
        line-height: 15px;
        margin-top: 10px;
    }
    .bottom_social{
        float: right;
        margin-bottom: 30px;
    }
}