header{
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;

	.bg{
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
		background-color: #635f5e;
		border-bottom: 1px solid #5c5c64;
		width: 100%;
		height: 158px;
	}
	.container{
		padding: 0;
		position: relative;

		h1{
			position: absolute;
			z-index: 12;
			display: block;
			left:0;
    		right:0;
    		margin-left:auto;
    		margin-right:auto;
			width: 213px;
			height: 24px;
			color: #fff;
		}
	}
	.menu{
		position: absolute;
		z-index: 13;
		border-top: 1px solid #fff;
		width: 100%;
		top: 83px;

		.rmm {
			display: none;
		}
		.container{
			padding: 0;

			.items{
				padding: 2%;
				border-top: 1px solid rgba(255, 0, 0, .1);
				-webkit-background-clip: padding-box; /* for Safari */
    			background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
				float: left;
				color: #fff;

				a{
					text-align: center;
					font-family: 'ozonex-m';
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					&:hover{
						text-decoration: none;
						color: #61c0e0;
					}
					&.current_link{
						color: #5579a2;
					}
				}
			}
			.current{
				border-top:2px solid #fff;
			}
			.last{
				border-right: 1px solid #c6bfba;
			}
		}
	}
}