.home{
    width: 100%;
    background-image: url('../img/bg_home.jpg');
    background-repeat: repeat-x;
    background-position: top left;

    a{
        &.curr_tab{
            background-color: #5579a2;
        }
        &.normal_tab{
            background-color: #cbcbcb;
        }
    }
    div{
        &.tab_news{
            // background-color: #5579a2;
            border: none;
            // border-top: 1px solid #788da1;
            // border-right: 1px solid #fff;

            section{
                overflow: hidden;
                h2{
                    line-height: 77px;
                    display: block;
                    height: 77px;
                    font-size: 1.3em;
                    padding: 0;
                    margin: 0;
                    color: #fff;
                    text-align: left;
                    text-transform: uppercase;
                    text-align: center;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: #fff;
                        &:hover{
                            background-color: #3879d9;
                        }
                    }
                }
            }
        }
        &.tab_infographic{
            @extend .tab_news;
            background-color: #cbcbcb;
            border-left: none;
        }
        &.tab_video{
            @extend .tab_news;
            section{
                .detail{
                    padding-top: 0;
                    background-color: #fff;
                    min-height: 231px;
                    padding-top: 7px;
                    padding-left: 8px;
                    padding-right: 8px;
                    text-align: center;

                    .iframvdo{
                        width: 95%;
                        height: 100%;
                    }
                    ul.youtube_list{
                        list-style: none;
                        display: table;
                        padding: 0;
                        margin: 0;
                        margin-left: -2px;
                        width: 100%;
                        overflow: hidden;
                        li{
                            float: left;
                            list-style: none;
                            display: block;
                            width: 90px;
                            height: 60px;
                            padding: 0;
                            margin: 0 2px;
                            img{ width: 100%; border:0;}
                        }
                    }
                }
            }
        }
        .detail1{
            /*background-image: url('../img/title_news.jpg');
            background-repeat: no-repeat;
            background-position: 20px 10px;*/
            background-color: #fff;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
            height: 231px;

            .text{
                height: 50px;
                /*overflow: hidden;*/

                p{
                    color: #727272;
                    line-height: 1.1em;
                }
            }
            a{
                display: block;
                height: 20px;
                text-align: right;
                font-size: 0.9em;
                padding-right: 10px;
            }
            .thumb{
                display: table;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 10px;
                text-align: center;
                img{
                    width: 200px;
                    height: 150px;
                    margin: auto;
                }
            }
        }
        .detail2{
            @extend .detail1;
            background:none;
            background-color: #fff;
            padding-left: 5px;
            padding-top: 7px;
        }
        .detail-1{
            @extend .detail1;
            background:none;
            background-color: #fff;
            padding-left: 20px;
            padding-top: 17px;
        }
        .detail-2{
            @extend .detail1;
            background:none;
            background-color: #fff;
            padding-left: 5px;
            padding-top: 17px;
        }
    }
}
.bx-wrapper{
    margin: 0;
    //margin-left: 13px;
    margin-top: 10px !important;
    .bx-viewport{
        background-color: transparent;
        border: none;
        box-shadow:none;
        -webkit-box-shadow:none;
    }

    .bx-prev,.bx-next{
        margin-top:-8px !important;
        width: 18px !important;
        height:18px !important;
        background-color:#fff;
        background-image: url('../js/jquery.bxslider/images/arrow-left.png');
        background-position: 0 0;
        &:hover{
            background-position: 0 0;
        }
    }
    .bx-prev{
        left:0px;
    }
    .bx-next{
        right:0px;
        background-image: url('../js/jquery.bxslider/images/arrow-right.png');
    }
}
