.banner-slider {
	position: relative;
	width: 100%;
	height: 100%;
	img {
		margin: 0 auto;
		width: 100%;
	}
}

.sub-name {
    span {
        display: block;
        line-height: 18px;
        font-size: 100%;
    }
}