.news{
	width: 100%;
	color: #000;
	line-height: 0.955em;
	font-size: 0.9em;

	.media-heading{
		font-size: 1em;
		font-weight: 600;
		color: #5579a2;
	}
	.img_detail{
		text-align: center;
		margin: 15px 0 40px 0;
		img{
			width: auto;
			height: auto;
		}
	}
	.project_title{
		font-family: 'ozonex-m';
		color: #5579a2;
		font-size: 1.2em;
	}
	.project_body{
		width: 75%;
		float: left;
		line-height: 1em;
	}
	.project_percent{
		font-family: 'ozonex-m';
		font-size: 4em;
		color: #5579a2;
		line-height: 0.6em;
		line-height/*\**/: 0.9em\9; /* for IE7-8 */
		&:after{
			content:'%';
		}
	}
	.date{
		font-family: 'ozonex';
		color: #901414;
		display: block;
		clear: both;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	div{
		line-height: 1.15em;
	}
	img{
		width: 181px;
		height: 120px;
	}
	a{
		&.read{
			display: list-item;
			list-style: none;
			text-align: right;
			font-size: 0.95em;
			font-family: 'ozonex-m';
			color: #5579a2;
			text-decoration: none;
			margin-top: 10px;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}