@media (min-width: 1200px) {
	.container {
		width: 980px;
	}
}
@media (min-width: 768px) {
	.sub-name {
		&.no-head {
			font-size: 1.8em;
			line-height: 1em;
			margin: 0;
			padding-bottom: 3px;
		}
	    span {
			line-height: 34px;
	    }
	}
}
@media (max-width: 1500px) {
	.infoBlockLeftBlack{
		left:19%;
	}
}
@media (max-width: 1400px) {
	.infoBlockLeftBlack{
		left:13.5%;
	}
}
@media (max-width: 1350px) {
	.infoBlockLeftBlack{
		left:12.5%;
	}
}
@media (max-width: 1300px) {
	.infoBlockLeftBlack{
		left:11.5%;
	}
}
@media (max-width: 1250px) {
	.infoBlockLeftBlack{
		left:9%;
	}
}
@media (max-width: 1070px) {
	.infoBlock {
		top: 42%;
	}
	.infoBlockLeftBlack{
		left:9.7%;
	}
}
@media (max-width: 1000px) {
	header{
		.menu{
			.container{
				.items{
					a{
						font-size: 0.8em;
					}
				}
			}
		}
	}
	.infoBlock {
	  width: 215px;
	  padding: 30px 20px 20px 30px;
	}
    .infoBlock h4 {
       font-size: 1.4em;
       line-height: 1em;
    }
}
@media (max-width: 991px) {
	.blockquot{
		&.title{
			color: #5579a2;
			padding: 0;
			font-size: 1.25em;
			border-left: none;
			margin: 15px 0 0 0;
			font-family: 'ozonex-m';
			line-height: 0.85em;
		}
	}
	header{
		.bg{
			height: 145px;
		}
	    .menu{
			.container{
				.items{
					padding: 1.5%;
				}
			}
		}
	}
	.menu_left{
		height: auto;
		display: table;
		background-color: #fff;
		margin-bottom: 20px;
	}
	.navi{
		border-bottom: 3px solid #5579a2;
	}
	#projectprogress-slider{
		&.royalSlider{
			width: 100%;
		}
	}
	.home{
		div{
			&.tab_video{
				section{
					.detail{
						ul.youtube_list{
							li{
								float: left;
								list-style: none;
								display: block;
								width: 28%;
								padding: 0;
								img{ width: 100%; border:0;}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 900px) {
	.home{
		font-size: 20px;
		div{
			&.tab_news{
				section{
					h2{
						line-height: 2.65em;
					}
				}
			}
			&.tab_infographic{
				section{
					h2{
						line-height: 2.65em;
					}
				}
			}
			&.tab_video{
				section{
					h2{
						line-height: 2.65em;
					}
				}
			}
		}
	}
	header{
		.bg{
			height: 88px;
		}
		.container{
			h1{
				margin-top: 0;
			}
		}
		.menu{
			top: 50px;
			.container{
				height: 40px;
				.items{
					padding: 0.4% 1.3%;
				}
			}
		}
	}
	.infoBlockLeftBlack{
		left:8.5%;
	}
	.royalSlider.heroSlider,
	.royalSlider.heroSlider .rsOverflow {
		// height: 300px !important;
	}
	.infoBlock {
		top: 30%;
		min-width: 30%;
		font-size: 0.8em;
	}
	.infoBlock h4 {
		font-size: 1.4em;
		line-height: 1em;
	}
}
@media (max-width: 767px) {
	.home{
		font-size: 16px;
		div{
			&.tab_news{
				border:0;

				section{
					h2{
						height: 56px;
						line-height: 2.45em;
					}
				}
			}
			&.tab_infographic{
				border:0;

				section{
					h2{
						height: 56px;
						line-height: 2.45em;
					}
				}
			}
			&.tab_video{
				border:0;
                padding:0;

				section{
					h2{
						height: 56px;
						line-height: 2.45em;
					}
					.detail{
						height: 60%;
						.iframvdo{
							width: 97%;
							height: 61%;
						}
						ul.youtube_list{
							li{
								width: 31%;
								height: 100%;
							}
						}
					}
				}
			}
			.detail1{
				font-size: 20px;
				height: auto;
				margin-bottom: 10px;
				.text{
					padding-right: 10px;
				}
				a{
					font-size: 1em;
				}
				.thumb{
					img{
						/*width: 100%;
						height: 80%;*/
                        margin: auto;
					}
				}
			}
			.detail2{
				font-size: 20px;
				padding-left: 20px;
				height: auto;
				margin-bottom: 10px;
			}
			.detail-1{
				font-size: 20px;
				height: auto;
				margin-bottom: 10px;
				.text{
					padding-right: 10px;
				}
				a{
					font-size: 1em;
				}
			}
			.detail-2{
				height: auto;
				font-size: 20px;
				padding-left: 20px;
				margin-bottom: 10px;
			}
		}
	}
	footer{
		padding: 10px 0;
		margin: 20px 0 15px 0;

		.menu{
			.left{
				width: 100%;
			}
			.right{
				width: 100%;
				text-align: left;
			}
		}
	}
	.col-xs-8{
		width: 100%;
		margin-bottom: 20px;
	}
	.inforaphic{
		.right{
			font-size: 1.25em;
		}
	}
	.infoBlockLeftBlack{
		left:1%;
	}
}
@media (max-width: 739px) {
	.col-xs-12, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-4, .col-md-4, .col-lg-4{
		padding-left: 20px;
		padding-right: 15px;
	}
	.blockquot{
		height: auto;
	}
	.home{
		background-position: 0px -21px;
		div{
			.detail1{
				padding-left: 3px;
			}
			.detail2{
				padding-left: 3px;
			}
			.detail-1{
				padding-left: 3px;
			}
			.detail-2{
				padding-left: 3px;
			}
		}
	}
	header{
		position: relative;

		.bg{
			width: 100%;
			// height: 150px;
			height: 98px;
			background-color: #000;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;
		}
		.menu{
			border:0;
			.desktop{
				display: none;
			}
			.rmm{
				display: block;
			}
			/* menu main */
			.rmm.custom .rmm-main-list li a {
				display:inline-block;
				padding:8px 30px 8px 30px;
				margin:0px -3px 0px -3px;
				font-size:15px;
				text-shadow:1px 1px 1px #3e587b;
				background-color:#537b9f;
				border-left:1px solid #3e587b;
				background-image:url('../img/sapphire-menu-bg.png');
				background-repeat:repeat-x;
			}
			.rmm.custom .rmm-main-list li a:hover {
				background:#3e597b;
			}
			.rmm.custom .rmm-main-list li:first-child a {}
			.rmm.custom .rmm-main-list li:last-child a {}
			.rmm.custom .rmm-toggled {
				width:95%;
				background-color:#537b9f;
				min-height:36px;
			}
			.rmm.custom .rmm-toggled-controls {
				display:block;
				height:36px;
				color:white;
				text-align:left;
				position:relative;
				background-image:url('../img/icon-menu.png');
				background-repeat:no-repeat;
				background-position: right;
			}
			.rmm.custom .rmm-toggled-title {
				position:relative;
				top:9px;
				left:15px;
				font-size:0.75em;
				text-transform: uppercase;
				color:white;
				text-shadow:1px 1px 1px #3e587b;
			}
			.rmm.custom .rmm-button {
				display:block;
				position:absolute;
				right:9px;
				top:7px;
				width:20px;
			}

			.rmm.custom .rmm-button span {}
			.rmm.custom .rmm-toggled ul li a {
				display:block;
				width:100%;
				background-color:#537698;
				text-align:left;
				font-size: 0.75em;
				text-indent: 16px;
				text-transform: uppercase;
				padding:10px 0px 10px 0px;
				border-bottom:1px solid #3c5779;
				border-top:1px solid #6883a6;
				text-shadow:1px 1px 1px #333333;
			}
			.rmm.custom .rmm-toggled ul li a:active {
				background-color:#3c5779;
				border-bottom:1px solid #3c5779;
				border-top:1px solid #3c5779;
			}
			.rmm.custom .rmm-toggled ul li a:hover {
				color: #bdcddf;
			}
			.rmm.custom .rmm-toggled ul li:first-child a {
				border-top:1px solid #3c5779 !important;
			}
			/* menu lang */
			.rmm.lang .rmm-main-list li a {
				display:inline-block;
				padding:8px 30px 8px 30px;
				margin:0px -3px 0px -3px;
				font-size:15px;
				text-shadow:1px 1px 1px #3e587b;
				background-color:#537b9f;
				border-left:1px solid #3e587b;
				background-image:url('../img/sapphire-menu-bg.png');
				background-repeat:repeat-x;
			}
			.rmm.lang .rmm-main-list li a:hover {
				background:#3e597b;
			}
			.rmm.lang .rmm-main-list li:first-child a {}
			.rmm.lang .rmm-main-list li:last-child a {}
			.rmm.lang .rmm-toggled {
				width:40%;
				background-color:#537b9f;
				min-height:36px;
			}
			.rmm.lang .rmm-toggled-controls {
				display:block;
				height:36px;
				color:white;
				text-align:left;
				position:relative;
				background-image:url('../img/icon-menu-lang.png');
				background-repeat:no-repeat;
				background-position: right;
			}
			.rmm.lang .rmm-toggled-title {
				position:relative;
				top:9px;
				left:15px;
				font-size:0.75em;
				text-transform: uppercase;
				color:white;
				text-shadow:1px 1px 1px #3e587b;
			}
			.rmm.lang .rmm-button {
				display:block;
				position:absolute;
				right:9px;
				top:7px;
				width:20px;
			}

			.rmm.lang .rmm-button span {}
			.rmm.lang .rmm-toggled ul li a {
				display:block;
				width:100%;
				background-color:#537698;
				text-align:left;
				font-size: 0.75em;
				text-indent: 16px;
				text-transform: uppercase;
				padding:10px 0px 10px 0px;
				border-bottom:1px solid #3c5779;
				border-top:1px solid #6883a6;
				text-shadow:1px 1px 1px #333333;
			}
			.rmm.lang .rmm-toggled ul li a:active {
				background-color:#3c5779;
				border-bottom:1px solid #3c5779;
				border-top:1px solid #3c5779;
			}
			.rmm.lang .rmm-toggled ul li a:hover {
				color: #bdcddf;
			}
			.rmm.lang .rmm-toggled ul li:first-child a {
				border-top:1px solid #3c5779 !important;
			}
		}
	}
	.address_form{
		.row_form{
			clear: both;
			margin-bottom: 10px;
		}
		label{
				width: 20% !important;
			}
		input{
			width: 70% !important;
			margin-right: 0;
		}
		textarea{
			width: 69.7% !important;
		}
		.mb20{ margin-bottom: 0; }
	}
	.infoBlock {
		// top: 5%;
		top: 2%;
		// width: 98%;
		width: 50%;
		height: 96%;
		// width: 30%;
		font-size: 0.8em;
	}
}
@media (max-width:660px) {
	.home{
		div{
			&.tab_video{
				section{
					.detail{
						.iframvdo{
							width: 97%;
							height: 61%;
						}
						ul.youtube_list{
							li{
								width: 30%;
							}
						}
					}
				}
			}
		}
	}
	.news{
		.project_body{
			width: 60%;
		}
	}
	.contactus{
		.address{
			.left{
				float: none;
				width: 100%;
			}
			.right{
				float: none;
				width: 100%;
				line-height: 1.2em;
				padding-left: 15px;
			}
		}
	}
}
@media (max-width: 520px) {
	.infoBlock {
		min-width: 50%;
	}
	.news{
		.pull-left-cus{
			float: none !important;
			clear: both;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
}
@media (max-height:660px) {
	.heroSlider .rsOverflow,
	.royalSlider.heroSlider {
	  /*height: 520px !important;*/
	}
}
@media (max-width: 480px) {
	.home{
		font-size: 16px;
		div{
			&.tab_news{
				padding: 0;
				section{
					h2{
						height: 56px;
						line-height: 2.65em;
						font-size: 1.25em;
						a{
							text-align: center;
							text-indent: 0;
						}
					}
				}
			}
			&.tab_infographic{
				section{
					h2{
						height: 56px;
						line-height: 2.65em;
						a{
							text-align: center;
							text-indent: 10px;
						}
					}
				}
			}
			.detail1{
				padding-left: 5px;
			}
			.detail2{
				padding-left: 5px;
			}
		}
	}
	.infoBlock {
		padding: 30px 0 20px 30px;
		min-width: 50%;
		top: 2%;
		// top: 10%;
		font-size: 0.8em;
		line-height: 1em;
	}
	footer{
		.banner1{
			width: 50%;
			.txt_link{
				left: 60px;
				a{	font-size: 8px;}
			}
		}
		.banner2{
			width: 50%;
		}
		.menu{
			.left{
				text-align: center;
			}
			.right{
				text-align: center;
			}
		}
	}
	.inforaphic{
		.left{
			width: 99%;
			padding: 2px 0 5px 0;
			img{
				width: 99%;
			}
		}
		.right{
			width: 95%;
			font-size: 1em;
			padding: 2px 0 15px 0;

			a{
				&.read{
					font-size: 0.95em;
				}
			}
		}
	}
	.news{
		.project_body{
			width: 50%;
		}
		.img_detail{
			img{ width: 99%;}
		}
	}
}
@media (max-width: 320px) {
	.infoBlock {
		padding-top: 15px !important;
		padding-right: 15px !important;
		padding-bottom: 15px !important;
		padding-left: 30px !important;
	}
	.sub-name {
		line-height: 18px;
	}
	.home{
		div{
			&.tab_video{
				section{
					.detail{
						.iframvdo{
							width: 97%;
							height: 61%;
						}
						ul.youtube_list{
							li{
								width: 29%;
							}
						}
					}
				}
			}
		}
	}
	footer{
		.banner1{
			.txt_link{
				width: 100%;
				left: 60px;
				top: 32px;
				a {	font-size: 8px; }
			}
		}
	}
}