header{
	.menu{
		.container{
			.items{
				a{
					font-size:12px;
					font-weight: bold;
				}
			}
		}
	}
}
h1{
	&.title{
		font-size:20px;
		line-height: 48px;
	}
}
.navi{
	font-size:14px;
	line-height: 2.5em;
}
.blockquote{
	font-size:16px;
	font-weight:600;
	margin: 10px 0 0 0;
	display: inline-block;
}
.description{
	font-size:14px;
	p{
		line-height:1.5em;
	}
}
.menu_left{
	a{
		font-size:12px;
		font-weight:600;
	}
}
.inforaphic{
	.right{
		.title{
			font-size:14px;
			line-height: 20px;
		}
		a{
			&.read{
				font-size:12px;
			}
		}
	}
}
.home{
	div{
		&.tab_news{
			section{
				h2{
					line-height: 3.4em;
					font-size: 24px;
				}
			}
		}
		&.tab_infographic{
			section{
				h2{
					line-height: 3.4em;
					font-size: 24px;
				}
			}
		}
		&.tab_video{
			section{
				h2{
					line-height: 3.4em;
					font-size: 24px;
				}
			}
		}
		.detail1{
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
		.detail2{
			background:none;
			background-color: #fff;
			padding-left: 5px;
			padding-top: 37px;
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
		.detail-1{
			background:none;
			background-color: #fff;
			padding-left: 20px;
			padding-top: 17px;
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
		.detail-2{
			background:none;
			background-color: #fff;
			padding-left: 5px;
			padding-top: 17px;
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
	}
}
.news{
	font-size: 14px;
	.img_detail{
		text-align: center;
	}
}
.infoBlock h4 {
   font-size: 28px;
   line-height: 36px;
}
@media (max-width: 1200px) {
	.tab_video{
		width: 31.33333331%;
	}
}
@media (max-width: 1006px) {
	header{
		.menu{
			.container{
				.items{
					a{
						font-size:12px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
@media (max-width: 739px) {
	header{
		.menu{
			.rmm.custom .rmm-main-list li a {
				padding:8px 10px;
			}
		}
	}
	.tab_video{
		width: auto;
	}
}