@media all and (min-width:0\0) and (min-resolution: .001dpcm)
{
	h1{
		&.title{
			font-size:22px;
		}
	}
	.blockquot{
		font-size:18px;
	}
    .navi{
		font-size:22px;
	}
	.menu_left{
		a{
			font-size:16px;
		}
	}
	.contactus{
		font-size:20px;
		.address{
			.title{
				font-size:22px;
			}
			.right{
				font-size:20px;
			}
		}
	}
	.downloads{
		font-size:20px;
		ul{
			li{
				h3{
					font-size:20px;
				}
			}
		}
	}
	footer{
		.menu{
			.left{
				font-size:12px;
				a{
					font-size:12px;
				}
			}
			.right{
				font-size:14px;
			}
		}
	}
	header{
		.menu{
			.container{
				.items{
					a{
						font-size:22px;
						font-weight: bold;
					}
				}
			}
		}
	}
	.home{
		div{
			&.tab_news{
				section{
					h2{
						font-size:32px;
					}
					.detail{
						.text{
							p{
								font-size:20px;
							}
						}
						a{
							font-size:20px;
						}
					}
				}
			}
			&.tab_infographic{
				section{
					h2{
						font-size:32px;
					}
					.detail{
						.text{
							p{
								font-size:20px;
							}
						}
						a{
							font-size:20px;
						}
					}
				}
			}
		}
	}
	.inforaphic{
		.right{
			.title{
				font-size:20px;
			}
			a{
				&.read{
					font-size:20px;
				}
			}
		}
	}
	.news{
		font-size:20px;
	}
	.partner{
		font-size:20px;
	}
}
@media (max-width: 990px) {
	header{
		.menu{
			.container{
				.items{
					a{
						font-size:18px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.home{
		div{
			&.tab_news{
				border:0;

				section{
					h2{
						height: 56px;
						font-size: 24px;
						line-height: 2.45em;
					}
				}
			}
			&.tab_infographic{
				border:0;

				section{
					h2{
						height: 56px;
						font-size: 24px;
						line-height: 2.45em;
					}
				}
			}
			&.tab_video{
				border:0;

				section{
					h2{
						height: 56px;
						font-size: 24px;
						line-height: 2.45em;
					}
					.detail{
						height: 301px;
					}
				}
			}
			.detail1{
				font-size: 20px;
				.text{
					padding-right: 10px;
				}
				a{
					font-size: 1em;
				}
			}
			.detail2{
				font-size: 20px;
				padding-left: 20px;
			}
			.detail-1{
				font-size: 20px;
				.text{
					padding-right: 10px;
				}
				a{
					font-size: 1em;
				}
			}
			.detail-2{
				font-size: 20px;
				padding-left: 20px;
			}
		}
	}
}
@media (max-width: 480px) {
	.home{
		font-size: 16px;
		div{
			&.tab_news{
				padding: 0;
				section{
					h2{
						height: 56px;
						line-height: 2.85em;
						font-size: 20px;
						a{
							text-align: center;
							text-indent: 0;
						}
					}
				}
			}
			&.tab_infographic{
				section{
					h2{
						height: 56px;
						line-height: 2.85em;
						font-size: 20px;
						a{
							text-align: center;
							text-indent: 10px;
						}
					}
				}
			}
		}
	}
	.blockquot{
		font-size: 16px;
	}
}