/* _font.scss */
@import '_font';
/* global */
body{
	font-family: 'ozonex';
	font-size: 22px;
	overflow-x: hidden;
	color: #727272;
	background-color: #fff;
}
h1{
	font-family: 'ozonex';
	&.title{
		width: 100%;
		height: 45px;
		color: #5579a2;
		font-size: 1.2em;
		text-align: left;
		font-family: 'ozonex-m';
		margin-top: 0;
		margin-bottom: 0;
		line-height: 2.4em;
		border-bottom: 4px solid #5579a2;
	}
}
h2{
	@extend h1;
}
h3{
	@extend h1;
}
h4{
	@extend h1;
}
h5{
	@extend h1;
}
h6{
	@extend h1;
}
a{
	text-decoration: none;
	color: #5579a2;
	&:hover{
		text-decoration: underline;
		color: #7395bc;
	}
}
.blockquot{
	padding: 0 5px;
	font-size: 1em;
	border-left: 5px solid #6989ad;
	margin: 10px 0;
	font-family: 'ozonex';
	height: 22px;
	&.title{
		color: #5579a2;
	}
}
.font_blue{
	color: #5579a2;
}
.container{
	position: relative;
}
.description{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	padding-right: 10px;
	font-size: 0.9em;
	color: #000;
	text-align: justify;
	p{
		line-height: 1.2em;
	}
}
.navi{
	width: 100%;
	height: 35px;
	color: #000;
	font-size: 1em;
	text-align: left;
	line-height: 1.5em;
	font-weight: 400;
	font-family: 'ozonex-m';
	a{
		font-weight: 400;
	}
}
/*
.col-xs-12, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-4, .col-md-4, .col-lg-4{
	padding-left: 0;
	padding-right: 0;
}
*/
/*
.col-xs-6, .col-md-4{
	padding-left: 15px;
}
*/
.menu_left{
	width: 260px;
	height: 238px;
	background-color: #f4f4f4;
	.btn-cu{
		font-size: 0.6em;
		color: #5579a2;
	}
	.menu_left_mobi{
		margin-top: 20px;
	}
	ul{
		margin: 0;
		padding: 0;
		padding-top: 10px;
		list-style: none;
		li{
			margin: 0;
			padding: 0;
			padding-left: 7px;
			list-style: none;
			font-size: 0.8em;
		}
	}
	a{
		color: #8e8e8e;
		font-family: 'ozonex-m';
		&:hover{
			color: #5579a2;
			text-decoration: underline;
		}
		&.curr{
			color: #5579a2;
		}
	}
}

/* masterpage */
@import '_masterpage';
/* header */
@import '_header';
/* royalslider */
@import '_royalslider';
.rsMinW .rsBullet span {
	width: 15px;
	height: 15px;
}
/* home */
@import '_home';
/* inforaphic */
@import '_inforaphic';
/* partner */
@import '_partner';
/* news */
@import '_news';
/* project progress */
@import '_projectprogress';
/* downloads */
@import '_downloads';
/* contact us */
@import '_contactus';
/* footer */
@import '_footer';
/* responsive */
@import '_responsive';

@media screen\0 {
    img.img-responsive {
        width: auto;
    }
}