/* line 5, _source/ie7-only.scss */
header .menu .container .items a {
  font-size: 12px;
  font-weight: bold;
}

/* line 14, _source/ie7-only.scss */
h1.title {
  font-size: 20px;
  line-height: 48px;
}

/* line 19, _source/ie7-only.scss */
.navi {
  font-size: 14px;
  line-height: 2.5em;
}

/* line 23, _source/ie7-only.scss */
.blockquote {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 0 0;
  display: inline-block;
}

/* line 29, _source/ie7-only.scss */
.description {
  font-size: 14px;
}
/* line 31, _source/ie7-only.scss */
.description p {
  line-height: 1.5em;
}

/* line 36, _source/ie7-only.scss */
.menu_left a {
  font-size: 12px;
  font-weight: 600;
}

/* line 43, _source/ie7-only.scss */
.inforaphic .right .title {
  font-size: 14px;
  line-height: 20px;
}
/* line 48, _source/ie7-only.scss */
.inforaphic .right a.read {
  font-size: 12px;
}

/* line 58, _source/ie7-only.scss */
.home div.tab_news section h2 {
  line-height: 3.4em;
  font-size: 24px;
}
/* line 66, _source/ie7-only.scss */
.home div.tab_infographic section h2 {
  line-height: 3.4em;
  font-size: 24px;
}
/* line 74, _source/ie7-only.scss */
.home div.tab_video section h2 {
  line-height: 3.4em;
  font-size: 24px;
}
/* line 82, _source/ie7-only.scss */
.home div .detail1 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 87, _source/ie7-only.scss */
.home div .detail1 a {
  font-size: 16px;
}
/* line 91, _source/ie7-only.scss */
.home div .detail2 {
  background: none;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 37px;
}
/* line 97, _source/ie7-only.scss */
.home div .detail2 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 102, _source/ie7-only.scss */
.home div .detail2 a {
  font-size: 16px;
}
/* line 106, _source/ie7-only.scss */
.home div .detail-1 {
  background: none;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 17px;
}
/* line 112, _source/ie7-only.scss */
.home div .detail-1 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 117, _source/ie7-only.scss */
.home div .detail-1 a {
  font-size: 16px;
}
/* line 121, _source/ie7-only.scss */
.home div .detail-2 {
  background: none;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 17px;
}
/* line 127, _source/ie7-only.scss */
.home div .detail-2 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 132, _source/ie7-only.scss */
.home div .detail-2 a {
  font-size: 16px;
}

/* line 138, _source/ie7-only.scss */
.news {
  font-size: 14px;
}
/* line 140, _source/ie7-only.scss */
.news .img_detail {
  text-align: center;
}

/* line 144, _source/ie7-only.scss */
.infoBlock h4 {
  font-size: 28px;
  line-height: 36px;
}

@media (max-width: 1200px) {
  /* line 149, _source/ie7-only.scss */
  .tab_video {
    width: 31.33333331%;
  }
}
@media (max-width: 1006px) {
  /* line 158, _source/ie7-only.scss */
  header .menu .container .items a {
    font-size: 12px;
    font-weight: bold;
  }
}
@media (max-width: 739px) {
  /* line 170, _source/ie7-only.scss */
  header .menu .rmm.custom .rmm-main-list li a {
    padding: 8px 10px;
  }

  /* line 175, _source/ie7-only.scss */
  .tab_video {
    width: auto;
  }
}
