/* line 5, _source/ie8-only.scss */
header .menu .container .items a {
  font-size: 12px;
  font-weight: bold;
}

/* line 14, _source/ie8-only.scss */
h1.title {
  font-size: 18px;
}

/* line 18, _source/ie8-only.scss */
.blockquot {
  font-size: 14px;
}

/* line 21, _source/ie8-only.scss */
.description {
  font-size: 14px;
}
/* line 23, _source/ie8-only.scss */
.description p {
  line-height: 1.5em;
}

/* line 27, _source/ie8-only.scss */
.navi {
  font-size: 14px;
  line-height: 2em;
}

/* line 32, _source/ie8-only.scss */
.menu_left a {
  font-size: 12px;
  font-weight: 600;
}

/* line 37, _source/ie8-only.scss */
.contactus {
  font-size: 18px;
}
/* line 40, _source/ie8-only.scss */
.contactus .address .title {
  font-size: 16px;
}
/* line 43, _source/ie8-only.scss */
.contactus .address .right {
  font-size: 14px;
}

/* line 48, _source/ie8-only.scss */
.downloads {
  font-size: 14px;
}
/* line 52, _source/ie8-only.scss */
.downloads ul li h3 {
  font-size: 14px;
}

/* line 60, _source/ie8-only.scss */
footer .menu .left {
  font-size: 9px;
}
/* line 62, _source/ie8-only.scss */
footer .menu .left a {
  font-size: 9px;
}
/* line 66, _source/ie8-only.scss */
footer .menu .right {
  font-size: 10px;
}
/* line 69, _source/ie8-only.scss */
footer .menu .bottom_txt {
  text-align: left;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 13px;
}

/* line 81, _source/ie8-only.scss */
header .menu .container .items a {
  font-size: 12px;
  font-weight: bold;
}

/* line 93, _source/ie8-only.scss */
.home div.tab_news section h2 {
  line-height: 3.4em;
  font-size: 24px;
}
/* line 101, _source/ie8-only.scss */
.home div.tab_infographic section h2 {
  line-height: 3.4em;
  font-size: 24px;
}
/* line 109, _source/ie8-only.scss */
.home div.tab_video section h2 {
  line-height: 3.4em;
  font-size: 24px;
}
/* line 117, _source/ie8-only.scss */
.home div .detail1 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 122, _source/ie8-only.scss */
.home div .detail1 a {
  font-size: 16px;
}
/* line 126, _source/ie8-only.scss */
.home div .detail2 {
  background: none;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 37px;
}
/* line 132, _source/ie8-only.scss */
.home div .detail2 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 137, _source/ie8-only.scss */
.home div .detail2 a {
  font-size: 16px;
}
/* line 141, _source/ie8-only.scss */
.home div .detail-1 {
  background: none;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 17px;
}
/* line 147, _source/ie8-only.scss */
.home div .detail-1 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 152, _source/ie8-only.scss */
.home div .detail-1 a {
  font-size: 16px;
}
/* line 156, _source/ie8-only.scss */
.home div .detail-2 {
  background: none;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 17px;
}
/* line 162, _source/ie8-only.scss */
.home div .detail-2 .text p {
  font-size: 16px;
  line-height: 1.45em;
}
/* line 167, _source/ie8-only.scss */
.home div .detail-2 a {
  font-size: 16px;
}

/* line 175, _source/ie8-only.scss */
.inforaphic .right .title {
  font-size: 16px;
  line-height: 20px;
}
/* line 180, _source/ie8-only.scss */
.inforaphic .right a.read {
  font-size: 12px;
}

/* line 186, _source/ie8-only.scss */
.news {
  font-size: 14px;
  line-height: 1.3em;
}
/* line 189, _source/ie8-only.scss */
.news .project_percent {
  line-height: 0.9em;
}

/* line 193, _source/ie8-only.scss */
.partner {
  font-size: 14px;
  line-height: 1.3em;
}

/* line 197, _source/ie8-only.scss */
.infoBlock h4 {
  font-size: 28px;
  line-height: 36px;
}

@media (max-width: 1017px) {
  /* line 206, _source/ie8-only.scss */
  header .menu .container .items a {
    font-size: 12px;
    font-weight: bold;
  }
}
@media (max-width: 991px) {
  /* line 217, _source/ie8-only.scss */
  .blockquot.title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  /* line 225, _source/ie8-only.scss */
  .home div.tab_news {
    border: 0;
  }
  /* line 229, _source/ie8-only.scss */
  .home div.tab_news section h2 {
    height: 56px;
    font-size: 18px;
    line-height: 3em;
  }
  /* line 236, _source/ie8-only.scss */
  .home div.tab_infographic {
    border: 0;
  }
  /* line 240, _source/ie8-only.scss */
  .home div.tab_infographic section h2 {
    height: 56px;
    font-size: 18px;
    line-height: 3em;
  }
  /* line 247, _source/ie8-only.scss */
  .home div.tab_video {
    border: 0;
  }
  /* line 251, _source/ie8-only.scss */
  .home div.tab_video section h2 {
    height: 56px;
    font-size: 18px;
    line-height: 3em;
  }
  /* line 256, _source/ie8-only.scss */
  .home div.tab_video section .detail {
    height: 301px;
  }
  /* line 261, _source/ie8-only.scss */
  .home div .detail1 {
    font-size: 16px;
  }
  /* line 263, _source/ie8-only.scss */
  .home div .detail1 .text {
    padding-right: 10px;
  }
  /* line 266, _source/ie8-only.scss */
  .home div .detail1 a {
    font-size: 1em;
  }
  /* line 270, _source/ie8-only.scss */
  .home div .detail2 {
    font-size: 16px;
    padding-left: 20px;
  }
  /* line 274, _source/ie8-only.scss */
  .home div .detail-1 {
    font-size: 16px;
  }
  /* line 276, _source/ie8-only.scss */
  .home div .detail-1 .text {
    padding-right: 10px;
  }
  /* line 279, _source/ie8-only.scss */
  .home div .detail-1 a {
    font-size: 1em;
  }
  /* line 283, _source/ie8-only.scss */
  .home div .detail-2 {
    font-size: 16px;
    padding-left: 20px;
  }
}
@media (max-width: 739px) {
  /* line 293, _source/ie8-only.scss */
  header .menu .rmm.custom .rmm-main-list li a {
    padding: 8px 10px;
  }
}
@media (max-width: 480px) {
  /* line 303, _source/ie8-only.scss */
  .inforaphic .right a.read {
    font-size: 14px;
  }

  /* line 309, _source/ie8-only.scss */
  .home {
    font-size: 16px;
  }
  /* line 312, _source/ie8-only.scss */
  .home div.tab_news {
    padding: 0;
  }
  /* line 315, _source/ie8-only.scss */
  .home div.tab_news section h2 {
    height: 56px;
    line-height: 3.5em;
    font-size: 15px;
  }
  /* line 319, _source/ie8-only.scss */
  .home div.tab_news section h2 a {
    text-align: center;
    text-indent: 0;
  }
  /* line 328, _source/ie8-only.scss */
  .home div.tab_infographic section h2 {
    height: 56px;
    line-height: 3.5em;
    font-size: 15px;
  }
  /* line 332, _source/ie8-only.scss */
  .home div.tab_infographic section h2 a {
    text-align: center;
    text-indent: 10px;
  }

  /* line 341, _source/ie8-only.scss */
  .blockquot {
    font-size: 12px;
  }
}
