@media all and (min-width: 0 \0) and (min-resolution: 0.001dpcm) {
  /* line 4, _source/ie9-only.scss */
  h1.title {
    font-size: 22px;
  }

  /* line 8, _source/ie9-only.scss */
  .blockquot {
    font-size: 18px;
  }

  /* line 11, _source/ie9-only.scss */
  .navi {
    font-size: 22px;
  }

  /* line 15, _source/ie9-only.scss */
  .menu_left a {
    font-size: 16px;
  }

  /* line 19, _source/ie9-only.scss */
  .contactus {
    font-size: 20px;
  }
  /* line 22, _source/ie9-only.scss */
  .contactus .address .title {
    font-size: 22px;
  }
  /* line 25, _source/ie9-only.scss */
  .contactus .address .right {
    font-size: 20px;
  }

  /* line 30, _source/ie9-only.scss */
  .downloads {
    font-size: 20px;
  }
  /* line 34, _source/ie9-only.scss */
  .downloads ul li h3 {
    font-size: 20px;
  }

  /* line 42, _source/ie9-only.scss */
  footer .menu .left {
    font-size: 12px;
  }
  /* line 44, _source/ie9-only.scss */
  footer .menu .left a {
    font-size: 12px;
  }
  /* line 48, _source/ie9-only.scss */
  footer .menu .right {
    font-size: 14px;
  }

  /* line 57, _source/ie9-only.scss */
  header .menu .container .items a {
    font-size: 22px;
    font-weight: bold;
  }

  /* line 69, _source/ie9-only.scss */
  .home div.tab_news section h2 {
    font-size: 32px;
  }
  /* line 74, _source/ie9-only.scss */
  .home div.tab_news section .detail .text p {
    font-size: 20px;
  }
  /* line 78, _source/ie9-only.scss */
  .home div.tab_news section .detail a {
    font-size: 20px;
  }
  /* line 86, _source/ie9-only.scss */
  .home div.tab_infographic section h2 {
    font-size: 32px;
  }
  /* line 91, _source/ie9-only.scss */
  .home div.tab_infographic section .detail .text p {
    font-size: 20px;
  }
  /* line 95, _source/ie9-only.scss */
  .home div.tab_infographic section .detail a {
    font-size: 20px;
  }

  /* line 105, _source/ie9-only.scss */
  .inforaphic .right .title {
    font-size: 20px;
  }
  /* line 109, _source/ie9-only.scss */
  .inforaphic .right a.read {
    font-size: 20px;
  }

  /* line 115, _source/ie9-only.scss */
  .news {
    font-size: 20px;
  }

  /* line 118, _source/ie9-only.scss */
  .partner {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  /* line 127, _source/ie9-only.scss */
  header .menu .container .items a {
    font-size: 18px;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  /* line 139, _source/ie9-only.scss */
  .home div.tab_news {
    border: 0;
  }
  /* line 143, _source/ie9-only.scss */
  .home div.tab_news section h2 {
    height: 56px;
    font-size: 24px;
    line-height: 2.45em;
  }
  /* line 150, _source/ie9-only.scss */
  .home div.tab_infographic {
    border: 0;
  }
  /* line 154, _source/ie9-only.scss */
  .home div.tab_infographic section h2 {
    height: 56px;
    font-size: 24px;
    line-height: 2.45em;
  }
  /* line 161, _source/ie9-only.scss */
  .home div.tab_video {
    border: 0;
  }
  /* line 165, _source/ie9-only.scss */
  .home div.tab_video section h2 {
    height: 56px;
    font-size: 24px;
    line-height: 2.45em;
  }
  /* line 170, _source/ie9-only.scss */
  .home div.tab_video section .detail {
    height: 301px;
  }
  /* line 175, _source/ie9-only.scss */
  .home div .detail1 {
    font-size: 20px;
  }
  /* line 177, _source/ie9-only.scss */
  .home div .detail1 .text {
    padding-right: 10px;
  }
  /* line 180, _source/ie9-only.scss */
  .home div .detail1 a {
    font-size: 1em;
  }
  /* line 184, _source/ie9-only.scss */
  .home div .detail2 {
    font-size: 20px;
    padding-left: 20px;
  }
  /* line 188, _source/ie9-only.scss */
  .home div .detail-1 {
    font-size: 20px;
  }
  /* line 190, _source/ie9-only.scss */
  .home div .detail-1 .text {
    padding-right: 10px;
  }
  /* line 193, _source/ie9-only.scss */
  .home div .detail-1 a {
    font-size: 1em;
  }
  /* line 197, _source/ie9-only.scss */
  .home div .detail-2 {
    font-size: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  /* line 205, _source/ie9-only.scss */
  .home {
    font-size: 16px;
  }
  /* line 208, _source/ie9-only.scss */
  .home div.tab_news {
    padding: 0;
  }
  /* line 211, _source/ie9-only.scss */
  .home div.tab_news section h2 {
    height: 56px;
    line-height: 2.85em;
    font-size: 20px;
  }
  /* line 215, _source/ie9-only.scss */
  .home div.tab_news section h2 a {
    text-align: center;
    text-indent: 0;
  }
  /* line 224, _source/ie9-only.scss */
  .home div.tab_infographic section h2 {
    height: 56px;
    line-height: 2.85em;
    font-size: 20px;
  }
  /* line 228, _source/ie9-only.scss */
  .home div.tab_infographic section h2 a {
    text-align: center;
    text-indent: 10px;
  }

  /* line 237, _source/ie9-only.scss */
  .blockquot {
    font-size: 16px;
  }
}
