/* _font.scss */
@font-face {
  font-family: 'ozonex';
  src: url("font/DBOzoneX.eot");
  src: url("font/DBOzoneX.eot?#iefix") format("embedded-opentype"), url("font/DBOzoneX.woff") format("woff"), url("font/DBOzoneX.ttf") format("truetype"), url("font/DBOzoneX.svg#AftaserifRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ozonex-b';
  src: url("font/DBOzoneX-Bold.eot");
  src: url("font/DBOzoneX-Bold.eot?#iefix") format("embedded-opentype"), url("font/DBOzoneX-Bold.woff") format("woff"), url("font/DBOzoneX-Bold.ttf") format("truetype"), url("font/DBOzoneX-Bold.svg#AftaserifRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ozonex-m';
  src: url("font/DBOzoneX-Medium.eot");
  src: url("font/DBOzoneX-Medium.eot?#iefix") format("embedded-opentype"), url("font/DBOzoneX-Medium.woff") format("woff"), url("font/DBOzoneX-Medium.ttf") format("truetype"), url("font/DBOzoneX-Medium.svg#AftaserifRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global */
/* line 4, _source/theme.scss */
body {
  font-family: 'ozonex';
  font-size: 22px;
  overflow-x: hidden;
  color: #727272;
  background-color: #fff;
}

/* line 11, _source/theme.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'ozonex';
}
/* line 13, _source/theme.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  width: 100%;
  height: 45px;
  color: #5579a2;
  font-size: 1.2em;
  text-align: left;
  font-family: 'ozonex-m';
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.4em;
  border-bottom: 4px solid #5579a2;
}

/* line 41, _source/theme.scss */
a {
  text-decoration: none;
  color: #5579a2;
}
/* line 44, _source/theme.scss */
a:hover {
  text-decoration: underline;
  color: #7395bc;
}

/* line 49, _source/theme.scss */
.blockquot {
  padding: 0 5px;
  font-size: 1em;
  border-left: 5px solid #6989ad;
  margin: 10px 0;
  font-family: 'ozonex';
  height: 22px;
}
/* line 56, _source/theme.scss */
.blockquot.title {
  color: #5579a2;
}

/* line 60, _source/theme.scss */
.font_blue {
  color: #5579a2;
}

/* line 63, _source/theme.scss */
.container {
  position: relative;
}

/* line 66, _source/theme.scss */
.description {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  font-size: 0.9em;
  color: #000;
  text-align: justify;
}
/* line 74, _source/theme.scss */
.description p {
  line-height: 1.2em;
}

/* line 78, _source/theme.scss */
.navi {
  width: 100%;
  height: 35px;
  color: #000;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
  font-weight: 400;
  font-family: 'ozonex-m';
}
/* line 87, _source/theme.scss */
.navi a {
  font-weight: 400;
}

/*
.col-xs-12, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-4, .col-md-4, .col-lg-4{
	padding-left: 0;
	padding-right: 0;
}
*/
/*
.col-xs-6, .col-md-4{
	padding-left: 15px;
}
*/
/* line 102, _source/theme.scss */
.menu_left {
  width: 260px;
  height: 238px;
  background-color: #f4f4f4;
}
/* line 106, _source/theme.scss */
.menu_left .btn-cu {
  font-size: 0.6em;
  color: #5579a2;
}
/* line 110, _source/theme.scss */
.menu_left .menu_left_mobi {
  margin-top: 20px;
}
/* line 113, _source/theme.scss */
.menu_left ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}
/* line 118, _source/theme.scss */
.menu_left ul li {
  margin: 0;
  padding: 0;
  padding-left: 7px;
  list-style: none;
  font-size: 0.8em;
}
/* line 126, _source/theme.scss */
.menu_left a {
  color: #8e8e8e;
  font-family: 'ozonex-m';
}
/* line 129, _source/theme.scss */
.menu_left a:hover {
  color: #5579a2;
  text-decoration: underline;
}
/* line 133, _source/theme.scss */
.menu_left a.curr {
  color: #5579a2;
}

/* masterpage */
/* line 1, _source/_masterpage.scss */
.banner-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 5, _source/_masterpage.scss */
.banner-slider img {
  margin: 0 auto;
  width: 100%;
}

/* line 12, _source/_masterpage.scss */
.sub-name span {
  display: block;
  line-height: 18px;
  font-size: 100%;
}

/* header */
/* line 1, _source/_header.scss */
header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}
/* line 7, _source/_header.scss */
header .bg {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background-color: #635f5e;
  border-bottom: 1px solid #5c5c64;
  width: 100%;
  height: 158px;
}
/* line 18, _source/_header.scss */
header .container {
  padding: 0;
  position: relative;
}
/* line 22, _source/_header.scss */
header .container h1, header .container h2, header .container h3, header .container h4, header .container h5, header .container h6 {
  position: absolute;
  z-index: 12;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 213px;
  height: 24px;
  color: #fff;
}
/* line 35, _source/_header.scss */
header .menu {
  position: absolute;
  z-index: 13;
  border-top: 1px solid #fff;
  width: 100%;
  top: 83px;
}
/* line 42, _source/_header.scss */
header .menu .rmm {
  display: none;
}
/* line 45, _source/_header.scss */
header .menu .container {
  padding: 0;
}
/* line 48, _source/_header.scss */
header .menu .container .items {
  padding: 2%;
  border-top: 1px solid rgba(255, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  float: left;
  color: #fff;
}
/* line 56, _source/_header.scss */
header .menu .container .items a {
  text-align: center;
  font-family: 'ozonex-m';
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 62, _source/_header.scss */
header .menu .container .items a:hover {
  text-decoration: none;
  color: #61c0e0;
}
/* line 66, _source/_header.scss */
header .menu .container .items a.current_link {
  color: #5579a2;
}
/* line 71, _source/_header.scss */
header .menu .container .current {
  border-top: 2px solid #fff;
}
/* line 74, _source/_header.scss */
header .menu .container .last {
  border-right: 1px solid #c6bfba;
}

/* royalslider */
/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
/* line 3, _source/_royalslider.scss */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
  z-index: 1;
}

/* line 10, _source/_royalslider.scss */
.royalSlider > * {
  float: left;
}

/* line 14, _source/_royalslider.scss */
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}

/* line 21, _source/_royalslider.scss */
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}

/* line 24, _source/_royalslider.scss */
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 32, _source/_royalslider.scss */
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 41, _source/_royalslider.scss */
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 47, _source/_royalslider.scss */
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 55, _source/_royalslider.scss */
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

/* line 59, _source/_royalslider.scss */
.rsThumb {
  float: left;
  position: relative;
}

/* line 67, _source/_royalslider.scss */
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* line 74, _source/_royalslider.scss */
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

/* line 84, _source/_royalslider.scss */
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
/* line 91, _source/_royalslider.scss */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* line 104, _source/_royalslider.scss */
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}

/* line 113, _source/_royalslider.scss */
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 125, _source/_royalslider.scss */
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

/* line 129, _source/_royalslider.scss */
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 135, _source/_royalslider.scss */
.rsPreloader {
  position: absolute;
  z-index: 0;
}

/* line 140, _source/_royalslider.scss */
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 145, _source/_royalslider.scss */
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

/* line 149, _source/_royalslider.scss */
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}

/* line 156, _source/_royalslider.scss */
.rsTabs {
  float: left;
  background: none !important;
}

/* line 161, _source/_royalslider.scss */
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 167, _source/_royalslider.scss */
.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}

/* line 182, _source/_royalslider.scss */
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}

/* line 190, _source/_royalslider.scss */
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}

/* line 196, _source/_royalslider.scss */
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ios controls over video bug, shifting video */
/* line 207, _source/_royalslider.scss */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}

/* line 214, _source/_royalslider.scss */
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}

/* line 222, _source/_royalslider.scss */
img.rsImg {
  max-width: none;
}

/* line 226, _source/_royalslider.scss */
.grab-cursor {
  cursor: url(../img/grab.png) 8 8, move;
}

/* line 230, _source/_royalslider.scss */
.grabbing-cursor {
  cursor: url(../img/grabbing.png) 8 8, move;
}

/* line 234, _source/_royalslider.scss */
.rsNoDrag {
  cursor: auto;
}

/* line 238, _source/_royalslider.scss */
.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(../img/blank.gif);
}

/******************************
*
*  RoyalSlider White Controls Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*
*  Sprite: 'rs-minimal-white.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
*
******************************/
/* Background */
/* line 274, _source/_royalslider.scss */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
  background: #000;
  color: #FFF;
}

/***************
*
*  1. Arrows
*
****************/
/* line 286, _source/_royalslider.scss */
.rsMinW .rsArrow {
  height: 32px;
  width: 32px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 9999;
}

/* line 295, _source/_royalslider.scss */
.rsMinW .rsArrowLeft {
  left: 0;
  top: 50%;
}

/* line 296, _source/_royalslider.scss */
.rsMinW .rsArrowRight {
  right: 0;
  top: 50%;
}

/* line 298, _source/_royalslider.scss */
.rsMinW .rsArrowIcn {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  cursor: pointer;
  background: url("../img/rs-minimal-white.png") transparent;
  border-radius: 2px;
}

/* line 314, _source/_royalslider.scss */
.rsMinW.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -68px -36px;
}

/* line 315, _source/_royalslider.scss */
.rsMinW.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -68px -68px;
}

/* line 317, _source/_royalslider.scss */
.rsMinW.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -100px -36px;
}

/* line 318, _source/_royalslider.scss */
.rsMinW.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -100px -68px;
}

/* line 320, _source/_royalslider.scss */
.rsMinW .rsArrowDisabled .rsArrowIcn {
  opacity: .3 !important;
  filter: alpha(opacity=30);
  *display: none;
}

/***************
*
*  2. Bullets
*
****************/
/* line 329, _source/_royalslider.scss */
.rsMinW .rsBullets {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 35;
  padding-top: 4px;
  height: auto;
  text-align: center;
  line-height: 6px;
  overflow: hidden;
}

/* line 344, _source/_royalslider.scss */
.rsMinW .rsBullet {
  width: 20px;
  height: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 20px 20px 20px 3px;
}

/* line 352, _source/_royalslider.scss */
.rsMinW .rsBullet span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #CCC;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 361, _source/_royalslider.scss */
.rsMinW .rsBullet.rsNavSelected span {
  background: #FFF;
}

/***************
*
*  3. Thumbnails
*
****************/
/* line 375, _source/_royalslider.scss */
.rsMinW .rsThumbsHor {
  width: 100%;
  height: auto;
}

/* line 379, _source/_royalslider.scss */
.rsMinW .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 386, _source/_royalslider.scss */
.rsMinW.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}

/* line 390, _source/_royalslider.scss */
.rsMinW.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}

/* line 394, _source/_royalslider.scss */
.rsMinW .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}

/* line 400, _source/_royalslider.scss */
.rsMinW .rsThumb img {
  width: 100%;
  height: 100%;
}

/* line 404, _source/_royalslider.scss */
.rsMinW .rsThumb.rsNavSelected {
  background: #333;
}

/* line 407, _source/_royalslider.scss */
.rsMinW .rsThumb.rsNavSelected img {
  filter: alpha(opacity=40);
  opacity: 0.7;
}

/* line 411, _source/_royalslider.scss */
.rsMinW .rsThumb.rsNavSelected span.thumbIco {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #FFF;
  border: 2px solid rgba(255, 255, 255, 0.9);
  -webkit-backface-visibility: hidden;
}

/* line 421, _source/_royalslider.scss */
.rsMinW .rsTmb {
  display: block;
}

/* Thumbnails arrow icons */
/* line 429, _source/_royalslider.scss */
.rsMinW .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

/* line 437, _source/_royalslider.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px;
}

/* line 441, _source/_royalslider.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft {
  top: 0;
  left: 0;
}

/* line 442, _source/_royalslider.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight {
  bottom: 0;
  left: 0;
}

/* line 444, _source/_royalslider.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft {
  left: 0;
  top: 0;
}

/* line 445, _source/_royalslider.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight {
  right: 0;
  top: 0;
}

/* line 447, _source/_royalslider.scss */
.rsMinW .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url("rs-minimal-white.png");
}

/* line 459, _source/_royalslider.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -128px -32px;
}

/* line 460, _source/_royalslider.scss */
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -128px -48px;
}

/* line 462, _source/_royalslider.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -144px -32px;
}

/* line 463, _source/_royalslider.scss */
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -144px -48px;
}

/* line 465, _source/_royalslider.scss */
.rsMinW .rsThumbsArrowDisabled {
  display: none !important;
}

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  /* line 469, _source/_royalslider.scss */
  .rsMinW .rsThumb {
    width: 59px;
    height: 44px;
  }

  /* line 473, _source/_royalslider.scss */
  .rsMinW .rsThumbsHor {
    height: 44px;
  }

  /* line 476, _source/_royalslider.scss */
  .rsMinW .rsThumbsVer {
    width: 59px;
  }
}
/***************
*
*  4. Tabs
*
****************/
/* line 490, _source/_royalslider.scss */
.rsMinW .rsTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative;
}

/* line 497, _source/_royalslider.scss */
.rsMinW .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  *display: inline;
  *zoom: 1;
}

/* line 518, _source/_royalslider.scss */
.rsMinW .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 524, _source/_royalslider.scss */
.rsMinW .rsTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #cfcfcf;
}

/* line 532, _source/_royalslider.scss */
.rsMinW .rsTab:active {
  border: 1px solid #D9D9DD;
  background-color: #f4f4f4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

/* line 537, _source/_royalslider.scss */
.rsMinW .rsTab.rsNavSelected {
  color: #000;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  background-image: -webkit-linear-gradient(top, #acacac, #bbbbbb);
  background-image: -moz-llinear-gradient(top, #acacac, #bbbbbb);
  background-image: linear-gradient(to bottom, #acacac, #bbbbbb);
}

/***************
*
*  5. Fullscreen button
*
****************/
/* line 558, _source/_royalslider.scss */
.rsMinW .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 569, _source/_royalslider.scss */
.rsMinW .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-minimal-white.png") 0 0 transparent;
}

/* line 577, _source/_royalslider.scss */
.rsMinW .rsFullscreenIcn:hover {
  opacity: 0.8;
}

/* line 580, _source/_royalslider.scss */
.rsMinW.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0;
}

/***************
*
*  6. Play/close video button
*
****************/
/* line 594, _source/_royalslider.scss */
.rsMinW .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointe;
}

/* line 602, _source/_royalslider.scss */
.rsMinW .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background: url(rs-minimal-white.png) no-repeat 0 -32px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
}

/* line 618, _source/_royalslider.scss */
.rsMinW .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 621, _source/_royalslider.scss */
.rsMinW .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
}

/* line 628, _source/_royalslider.scss */
.rsMinW .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 640, _source/_royalslider.scss */
.rsMinW .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
}

/* line 645, _source/_royalslider.scss */
.rsMinW .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-minimal-white.png") -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
}

/* line 654, _source/_royalslider.scss */
.rsMinW .rsCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/***************
*
*  7. Preloader
*
****************/
/* line 666, _source/_royalslider.scss */
.rsMinW .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../preloaders/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/***************
*
*  8. Global caption
*
****************/
/* line 685, _source/_royalslider.scss */
.rsMinW .rsGCaption {
  position: absolute;
  float: none;
  bottom: 6px;
  left: 6px;
  text-align: left;
  /*background: #000;
  background: rgba(0,0,0, 0.75);*/
  color: #FFF;
  padding: 2px 8px;
  width: auto;
  font-size: 1em;
  border-radius: 2px;
}

/* customer */
/* line 703, _source/_royalslider.scss */
#full-width-slider, #full-width-slider2 {
  width: 100%;
  color: #000;
}

/* line 707, _source/_royalslider.scss */
#full-width-slider *, #full-width-slider2 * {
  -webkit-backface-visibility: inherit;
}

/* line 710, _source/_royalslider.scss */
.coloredBlock {
  padding: 12px;
  background: rgba(255, 0, 0, 0.6);
  color: #FFF;
  width: 200px;
  left: 20%;
  top: 5%;
}

/* line 718, _source/_royalslider.scss */
.infoBlock {
  position: absolute;
  top: 40%;
  right: 30px;
  left: auto;
  width: 315px;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 50px 20px 20px 20px;
}

/* line 730, _source/_royalslider.scss */
.infoBlockLeftBlack {
  color: #FFF;
  background: #526b88;
  background: rgba(87, 114, 143, 0.5);
  left: 19%;
  right: auto;
}

/* line 737, _source/_royalslider.scss */
.infoBlock h4 {
  font-size: 1.8em;
  line-height: 1em;
  margin: 0;
  padding-bottom: 3px;
}

/* line 743, _source/_royalslider.scss */
.infoBlock p {
  font-size: 1em;
  margin: 4px 0 0;
}

/* line 747, _source/_royalslider.scss */
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}

/* line 751, _source/_royalslider.scss */
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 0.8em;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25;
}

/* line 765, _source/_royalslider.scss */
.photosBy a {
  color: #000;
}

/* line 768, _source/_royalslider.scss */
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

/* line 145, _source/theme.scss */
.rsMinW .rsBullet span {
  width: 15px;
  height: 15px;
}

/* home */
/* line 1, _source/_home.scss */
.home {
  width: 100%;
  background-image: url("../img/bg_home.jpg");
  background-repeat: repeat-x;
  background-position: top left;
}
/* line 8, _source/_home.scss */
.home a.curr_tab {
  background-color: #5579a2;
}
/* line 11, _source/_home.scss */
.home a.normal_tab {
  background-color: #cbcbcb;
}
/* line 16, _source/_home.scss */
.home div.tab_news, .home div.tab_infographic, .home div.tab_video {
  border: none;
}
/* line 22, _source/_home.scss */
.home div.tab_news section, .home div.tab_infographic section, .home div.tab_video section {
  overflow: hidden;
}
/* line 24, _source/_home.scss */
.home div.tab_news section h2, .home div.tab_infographic section h2, .home div.tab_video section h2 {
  line-height: 77px;
  display: block;
  height: 77px;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}
/* line 35, _source/_home.scss */
.home div.tab_news section h2 a, .home div.tab_infographic section h2 a, .home div.tab_video section h2 a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
/* line 41, _source/_home.scss */
.home div.tab_news section h2 a:hover, .home div.tab_infographic section h2 a:hover, .home div.tab_video section h2 a:hover {
  background-color: #3879d9;
}
/* line 48, _source/_home.scss */
.home div.tab_infographic {
  background-color: #cbcbcb;
  border-left: none;
}
/* line 56, _source/_home.scss */
.home div.tab_video section .detail {
  padding-top: 0;
  background-color: #fff;
  min-height: 231px;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
/* line 65, _source/_home.scss */
.home div.tab_video section .detail .iframvdo {
  width: 95%;
  height: 100%;
}
/* line 69, _source/_home.scss */
.home div.tab_video section .detail ul.youtube_list {
  list-style: none;
  display: table;
  padding: 0;
  margin: 0;
  margin-left: -2px;
  width: 100%;
  overflow: hidden;
}
/* line 77, _source/_home.scss */
.home div.tab_video section .detail ul.youtube_list li {
  float: left;
  list-style: none;
  display: block;
  width: 90px;
  height: 60px;
  padding: 0;
  margin: 0 2px;
}
/* line 85, _source/_home.scss */
.home div.tab_video section .detail ul.youtube_list li img {
  width: 100%;
  border: 0;
}
/* line 91, _source/_home.scss */
.home div .detail1, .home div .detail2, .home div .detail-1, .home div .detail-2 {
  /*background-image: url('../img/title_news.jpg');
  background-repeat: no-repeat;
  background-position: 20px 10px;*/
  background-color: #fff;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  height: 231px;
}
/* line 101, _source/_home.scss */
.home div .detail1 .text, .home div .detail2 .text, .home div .detail-1 .text, .home div .detail-2 .text {
  height: 50px;
  /*overflow: hidden;*/
}
/* line 105, _source/_home.scss */
.home div .detail1 .text p, .home div .detail2 .text p, .home div .detail-1 .text p, .home div .detail-2 .text p {
  color: #727272;
  line-height: 1.1em;
}
/* line 110, _source/_home.scss */
.home div .detail1 a, .home div .detail2 a, .home div .detail-1 a, .home div .detail-2 a {
  display: block;
  height: 20px;
  text-align: right;
  font-size: 0.9em;
  padding-right: 10px;
}
/* line 117, _source/_home.scss */
.home div .detail1 .thumb, .home div .detail2 .thumb, .home div .detail-1 .thumb, .home div .detail-2 .thumb {
  display: table;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}
/* line 123, _source/_home.scss */
.home div .detail1 .thumb img, .home div .detail2 .thumb img, .home div .detail-1 .thumb img, .home div .detail-2 .thumb img {
  width: 200px;
  height: 150px;
  margin: auto;
}
/* line 130, _source/_home.scss */
.home div .detail2 {
  background: none;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 7px;
}
/* line 137, _source/_home.scss */
.home div .detail-1 {
  background: none;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 17px;
}
/* line 144, _source/_home.scss */
.home div .detail-2 {
  background: none;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 17px;
}

/* line 153, _source/_home.scss */
.bx-wrapper {
  margin: 0;
  margin-top: 10px !important;
}
/* line 157, _source/_home.scss */
.bx-wrapper .bx-viewport {
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 164, _source/_home.scss */
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  margin-top: -8px !important;
  width: 18px !important;
  height: 18px !important;
  background-color: #fff;
  background-image: url("../js/jquery.bxslider/images/arrow-left.png");
  background-position: 0 0;
}
/* line 171, _source/_home.scss */
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover {
  background-position: 0 0;
}
/* line 175, _source/_home.scss */
.bx-wrapper .bx-prev {
  left: 0px;
}
/* line 178, _source/_home.scss */
.bx-wrapper .bx-next {
  right: 0px;
  background-image: url("../js/jquery.bxslider/images/arrow-right.png");
}

/* inforaphic */
/* line 1, _source/_inforaphic.scss */
.inforaphic {
  width: 100%;
  height: auto;
  font-size: 22px;
}
/* line 5, _source/_inforaphic.scss */
.inforaphic .left {
  float: left;
  width: 49.9999%;
}
/* line 8, _source/_inforaphic.scss */
.inforaphic .left img {
  width: 100%;
  height: 100%;
  border: 1px solid #dfdfdf;
}
/* line 14, _source/_inforaphic.scss */
.inforaphic .right {
  float: left;
  width: 49.9999%;
}
/* line 17, _source/_inforaphic.scss */
.inforaphic .right .title {
  font-size: 0.9em;
  color: #5579a2;
  font-family: 'ozonex-m';
  line-height: 1em;
  padding-left: 10px;
  overflow: hidden;
}
/* line 26, _source/_inforaphic.scss */
.inforaphic .right a.read {
  display: list-item;
  list-style: none;
  text-align: right;
  font-size: 0.85em;
  font-family: 'ozonex-m';
  color: #5579a2;
  text-decoration: none;
  margin-top: 10px;
}
/* line 35, _source/_inforaphic.scss */
.inforaphic .right a.read:hover {
  text-decoration: underline;
}

/* partner */
/* line 1, _source/_partner.scss */
.partner {
  width: 100%;
  color: #000;
  line-height: 0.95em;
  font-size/*\**/: 14px\9;
  /* for IE7-8 */
  line-height/*\**/: 1.3em\9;
  /* for IE7-8 */
}
/* line 8, _source/_partner.scss */
.partner .tab_ourpartner {
  width: 100%;
  padding: 7px;
  font-family: 'ozonex-m';
  font-size: 1.1em;
  color: #5579a2;
  margin-top: 40px;
  background-color: #f4f4f4;
}
/* line 18, _source/_partner.scss */
.partner img {
  text-align: left;
  margin: 0 10px 15px 0;
}
/* line 23, _source/_partner.scss */
.partner .media-heading {
  font-size: 1em;
  font-weight: 600;
}

/* news */
/* line 1, _source/_news.scss */
.news {
  width: 100%;
  color: #000;
  line-height: 0.955em;
  font-size: 0.9em;
}
/* line 7, _source/_news.scss */
.news .media-heading {
  font-size: 1em;
  font-weight: 600;
  color: #5579a2;
}
/* line 12, _source/_news.scss */
.news .img_detail {
  text-align: center;
  margin: 15px 0 40px 0;
}
/* line 15, _source/_news.scss */
.news .img_detail img {
  width: auto;
  height: auto;
}
/* line 20, _source/_news.scss */
.news .project_title {
  font-family: 'ozonex-m';
  color: #5579a2;
  font-size: 1.2em;
}
/* line 25, _source/_news.scss */
.news .project_body {
  width: 75%;
  float: left;
  line-height: 1em;
}
/* line 30, _source/_news.scss */
.news .project_percent {
  font-family: 'ozonex-m';
  font-size: 4em;
  color: #5579a2;
  line-height: 0.6em;
  line-height/*\**/: 0.9em\9;
  /* for IE7-8 */
}
/* line 36, _source/_news.scss */
.news .project_percent:after {
  content: '%';
}
/* line 40, _source/_news.scss */
.news .date {
  font-family: 'ozonex';
  color: #901414;
  display: block;
  clear: both;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 48, _source/_news.scss */
.news div {
  line-height: 1.15em;
}
/* line 51, _source/_news.scss */
.news img {
  width: 181px;
  height: 120px;
}
/* line 56, _source/_news.scss */
.news a.read {
  display: list-item;
  list-style: none;
  text-align: right;
  font-size: 0.95em;
  font-family: 'ozonex-m';
  color: #5579a2;
  text-decoration: none;
  margin-top: 10px;
}
/* line 65, _source/_news.scss */
.news a.read:hover {
  text-decoration: underline;
}

/* project progress */
/* line 1, _source/_projectprogress.scss */
#projectprogress-slider {
  margin-top: 15px;
}
/* line 4, _source/_projectprogress.scss */
#projectprogress-slider.royalSlider {
  width: 636px;
}

/* downloads */
/* line 1, _source/_downloads.scss */
.downloads {
  width: 100%;
  color: #000;
  line-height: 0.955em;
  font-size: 18px;
  display: table;
}
/* line 8, _source/_downloads.scss */
.downloads ul {
  padding: 0;
  margin: 0;
}
/* line 11, _source/_downloads.scss */
.downloads ul li {
  list-style: none;
  text-indent: 10px;
}
/* line 14, _source/_downloads.scss */
.downloads ul li h3 {
  font-size: 1.1em;
  color: #000;
}
/* line 18, _source/_downloads.scss */
.downloads ul li:before {
  content: "";
  line-height: 1em;
  width: .3em;
  height: .3em;
  background-color: #5579a2;
  float: left;
  margin: .25em .25em 20px;
  border-radius: 50%;
}
/* line 28, _source/_downloads.scss */
.downloads ul li .title {
  line-height: 1.2em;
  width: 70%;
  float: left;
  margin-left: 25px;
  padding: 0;
}
/* line 34, _source/_downloads.scss */
.downloads ul li .title:before {
  content: "- ";
}
/* line 38, _source/_downloads.scss */
.downloads ul li .icon_download {
  width: 20px;
  height: auto;
  line-height: 1.8em;
  float: left;
}
/* line 43, _source/_downloads.scss */
.downloads ul li .icon_download img {
  border: 0;
}

/* contact us */
/* line 1, _source/_contactus.scss */
.contactus {
  font-size: 22px;
  font-size/*\**/: 18px\9;
  /* for IE7-8 */
}
/* line 5, _source/_contactus.scss */
.contactus .row {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 9, _source/_contactus.scss */
.contactus .row .col-lg-6, .contactus .row .col-md-6, .contactus .row .col-sm-6, .contactus .row .col-xs-12 {
  border: 1px solid #ececec;
  border-bottom: 1px solid #f5f5f5;
}
/* line 13, _source/_contactus.scss */
.contactus .row .col-lg-6 .last, .contactus .row .col-md-6 .last, .contactus .row .col-sm-6 .last, .contactus .row .col-xs-12 .last {
  border-bottom: 1px solid #ececec;
}
/* line 18, _source/_contactus.scss */
.contactus .address {
  color: #000;
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 23, _source/_contactus.scss */
.contactus .address .title {
  color: #5579a2;
  font-size: 1.2em;
  font-size/*\**/: 16px\9;
  /* for IE7-8 */
  font-family: 'ozonex-m';
}
/* line 29, _source/_contactus.scss */
.contactus .address .left {
  float: left;
  width: 31.3333%;
  padding-left: 15px;
}
/* line 34, _source/_contactus.scss */
.contactus .address .right {
  float: left;
  width: 60.6666%;
  line-height: 1.7em;
  font-size/*\**/: 14px\9;
  /* for IE7-8 */
}
/* line 41, _source/_contactus.scss */
.contactus .address_form {
  color: #000;
  margin-top: 20px;
}
/* line 45, _source/_contactus.scss */
.contactus .address_form .mb20 {
  margin-bottom: 20px;
}
/* line 46, _source/_contactus.scss */
.contactus .address_form label {
  float: left;
  width: 10.6666%;
  font-family: 'ozonex';
  font-size: 0.8em;
  font-weight: 400;
  line-height: 2em;
}
/* line 54, _source/_contactus.scss */
.contactus .address_form input {
  height: 34px;
  width: 220px;
  border: 0;
  background-color: #f1f1f1;
  float: left;
  margin-right: 20px;
  padding: 0 7px;
}
/* line 63, _source/_contactus.scss */
.contactus .address_form textarea {
  background-color: #f1f1f1;
  border: 0;
  width: 82.7%;
  padding: 0 7px;
}
/* line 69, _source/_contactus.scss */
.contactus .address_form .btn_confirm {
  padding: 6px 16px;
  width: auto !important;
  background-color: #5579a2;
  border: 1px solid #99afc7;
  text-align: center;
  color: #fff;
  line-height: 0.5em !important;
  float: right;
  margin-right: 40px;
}
/* line 80, _source/_contactus.scss */
.contactus .address_form .address_box_top {
  width: 100%;
  padding: 15px 15px 25px 15px;
  margin-bottom: 25px;
  height: auto;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 10px 20px -15px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 10px 20px -15px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 10px 20px -15px rgba(50, 50, 50, 0.6);
}
/* line 90, _source/_contactus.scss */
.contactus .address_form .address_box_top h1, .contactus .address_form .address_box_top h2, .contactus .address_form .address_box_top h3, .contactus .address_form .address_box_top h4, .contactus .address_form .address_box_top h5, .contactus .address_form .address_box_top h6 {
  font-family: 'ozonex-m';
  font-size: 24px;
  line-height: 34px;
  padding: 0;
  margin: 0;
}
/* line 97, _source/_contactus.scss */
.contactus .address_form .address_box_top p {
  font-family: 'ozonex';
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}
/* line 104, _source/_contactus.scss */
.contactus .address_form .address_box_top p a {
  color: #000;
  text-decoration: none;
}
/* line 107, _source/_contactus.scss */
.contactus .address_form .address_box_top p a:hover {
  color: #6989ad;
  text-decoration: underline;
}
/* line 115, _source/_contactus.scss */
.contactus .addres_small {
  padding: 12px;
  height: 250px;
}
/* line 118, _source/_contactus.scss */
.contactus .addres_small h2 {
  font-family: 'ozonex-m';
  font-size: 19px;
  line-height: 28px;
  color: #000;
  padding: 0;
  margin: 0;
}
/* line 126, _source/_contactus.scss */
.contactus .addres_small p {
  font-family: 'ozonex';
  font-size: 17px;
  line-height: 20px;
  color: #000;
  padding: 0;
  margin: 0;
}
/* line 134, _source/_contactus.scss */
.contactus .addres_small p a {
  color: #000;
  text-decoration: none;
}
/* line 137, _source/_contactus.scss */
.contactus .addres_small p a:hover {
  color: #6989ad;
  text-decoration: underline;
}

/* footer */
/* line 1, _source/_footer.scss */
footer {
  width: 100%;
  padding: 15px 0;
  margin: 40px 0 15px 0;
  background-image: url("../img/bg_footer.jpg");
  background-position: top;
  background-repeat: repeat-x;
}
/* line 9, _source/_footer.scss */
footer .col-md-6 {
  padding-left: 4px;
}
/* line 13, _source/_footer.scss */
footer .banner1 {
  text-align: left;
  float: left;
  width: 50%;
  position: relative;
}
/* line 18, _source/_footer.scss */
footer .banner1 .txt_link {
  position: absolute;
  top: 32px;
  left: 60px;
}
/* line 22, _source/_footer.scss */
footer .banner1 .txt_link a {
  color: #034ea2;
  font-size: 14px;
  text-decoration: none;
}
/* line 26, _source/_footer.scss */
footer .banner1 .txt_link a:hover {
  text-decoration: underline;
}
/* line 30, _source/_footer.scss */
footer .banner2 {
  float: right;
}
/* line 33, _source/_footer.scss */
footer .menu {
  padding-top: 15px;
}
/* line 36, _source/_footer.scss */
footer .menu .left {
  float: left;
  text-align: left;
  padding-left: 4px;
  width: 61%;
  font-size: 0.7em;
  font-size/*\**/: 9px\9;
  /* for IE7-8 */
}
/* line 44, _source/_footer.scss */
footer .menu .left a {
  font-size: 0.7em;
  font-size/*\**/: 9px\9;
  /* for IE7-8 */
  text-decoration: none;
}
/* line 48, _source/_footer.scss */
footer .menu .left a:hover {
  text-decoration: underline;
  color: #7395bc;
}
/* line 54, _source/_footer.scss */
footer .menu .right {
  float: right;
  text-align: right;
  font-size: 0.7em;
  font-size/*\**/: 10px\9;
  /* for IE7-8 */
}
/* line 61, _source/_footer.scss */
footer .bottom_txt {
  text-align: left;
  font-family: 'ozonex';
  font-size: 14px;
  line-height: 15px;
  margin-top: 10px;
}
/* line 68, _source/_footer.scss */
footer .bottom_social {
  float: right;
  margin-bottom: 30px;
}

/* responsive */
@media (min-width: 1200px) {
  /* line 2, _source/_responsive.scss */
  .container {
    width: 980px;
  }
}
@media (min-width: 768px) {
  /* line 8, _source/_responsive.scss */
  .sub-name.no-head {
    font-size: 1.8em;
    line-height: 1em;
    margin: 0;
    padding-bottom: 3px;
  }
  /* line 14, _source/_responsive.scss */
  .sub-name span {
    line-height: 34px;
  }
}
@media (max-width: 1500px) {
  /* line 20, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 19%;
  }
}
@media (max-width: 1400px) {
  /* line 25, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 13.5%;
  }
}
@media (max-width: 1350px) {
  /* line 30, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 12.5%;
  }
}
@media (max-width: 1300px) {
  /* line 35, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 11.5%;
  }
}
@media (max-width: 1250px) {
  /* line 40, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 9%;
  }
}
@media (max-width: 1070px) {
  /* line 45, _source/_responsive.scss */
  .infoBlock {
    top: 42%;
  }

  /* line 48, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 9.7%;
  }
}
@media (max-width: 1000px) {
  /* line 57, _source/_responsive.scss */
  header .menu .container .items a {
    font-size: 0.8em;
  }

  /* line 64, _source/_responsive.scss */
  .infoBlock {
    width: 215px;
    padding: 30px 20px 20px 30px;
  }

  /* line 68, _source/_responsive.scss */
  .infoBlock h4 {
    font-size: 1.4em;
    line-height: 1em;
  }
}
@media (max-width: 991px) {
  /* line 75, _source/_responsive.scss */
  .blockquot.title {
    color: #5579a2;
    padding: 0;
    font-size: 1.25em;
    border-left: none;
    margin: 15px 0 0 0;
    font-family: 'ozonex-m';
    line-height: 0.85em;
  }

  /* line 86, _source/_responsive.scss */
  header .bg {
    height: 145px;
  }
  /* line 91, _source/_responsive.scss */
  header .menu .container .items {
    padding: 1.5%;
  }

  /* line 97, _source/_responsive.scss */
  .menu_left {
    height: auto;
    display: table;
    background-color: #fff;
    margin-bottom: 20px;
  }

  /* line 103, _source/_responsive.scss */
  .navi {
    border-bottom: 3px solid #5579a2;
  }

  /* line 107, _source/_responsive.scss */
  #projectprogress-slider.royalSlider {
    width: 100%;
  }

  /* line 117, _source/_responsive.scss */
  .home div.tab_video section .detail ul.youtube_list li {
    float: left;
    list-style: none;
    display: block;
    width: 28%;
    padding: 0;
  }
  /* line 123, _source/_responsive.scss */
  .home div.tab_video section .detail ul.youtube_list li img {
    width: 100%;
    border: 0;
  }
}
@media (max-width: 900px) {
  /* line 133, _source/_responsive.scss */
  .home {
    font-size: 20px;
  }
  /* line 138, _source/_responsive.scss */
  .home div.tab_news section h2, .home div.tab_infographic section h2, .home div.tab_video section h2 {
    line-height: 2.65em;
  }
  /* line 145, _source/_responsive.scss */
  .home div.tab_infographic section h2 {
    line-height: 2.65em;
  }
  /* line 152, _source/_responsive.scss */
  .home div.tab_video section h2 {
    line-height: 2.65em;
  }

  /* line 160, _source/_responsive.scss */
  header .bg {
    height: 88px;
  }
  /* line 164, _source/_responsive.scss */
  header .container h1, header .container h2, header .container h3, header .container h4, header .container h5, header .container h6 {
    margin-top: 0;
  }
  /* line 168, _source/_responsive.scss */
  header .menu {
    top: 50px;
  }
  /* line 170, _source/_responsive.scss */
  header .menu .container {
    height: 40px;
  }
  /* line 172, _source/_responsive.scss */
  header .menu .container .items {
    padding: 0.4% 1.3%;
  }

  /* line 178, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 8.5%;
  }

  /* line 185, _source/_responsive.scss */
  .infoBlock {
    top: 30%;
    min-width: 30%;
    font-size: 0.8em;
  }

  /* line 190, _source/_responsive.scss */
  .infoBlock h4 {
    font-size: 1.4em;
    line-height: 1em;
  }
}
@media (max-width: 767px) {
  /* line 196, _source/_responsive.scss */
  .home {
    font-size: 16px;
  }
  /* line 199, _source/_responsive.scss */
  .home div.tab_news, .home div.tab_infographic, .home div.tab_video {
    border: 0;
  }
  /* line 203, _source/_responsive.scss */
  .home div.tab_news section h2, .home div.tab_infographic section h2, .home div.tab_video section h2 {
    height: 56px;
    line-height: 2.45em;
  }
  /* line 209, _source/_responsive.scss */
  .home div.tab_infographic {
    border: 0;
  }
  /* line 213, _source/_responsive.scss */
  .home div.tab_infographic section h2 {
    height: 56px;
    line-height: 2.45em;
  }
  /* line 219, _source/_responsive.scss */
  .home div.tab_video {
    border: 0;
    padding: 0;
  }
  /* line 224, _source/_responsive.scss */
  .home div.tab_video section h2 {
    height: 56px;
    line-height: 2.45em;
  }
  /* line 228, _source/_responsive.scss */
  .home div.tab_video section .detail {
    height: 60%;
  }
  /* line 230, _source/_responsive.scss */
  .home div.tab_video section .detail .iframvdo {
    width: 97%;
    height: 61%;
  }
  /* line 235, _source/_responsive.scss */
  .home div.tab_video section .detail ul.youtube_list li {
    width: 31%;
    height: 100%;
  }
  /* line 243, _source/_responsive.scss */
  .home div .detail1, .home div .detail2, .home div .detail-1, .home div .detail-2 {
    font-size: 20px;
    height: auto;
    margin-bottom: 10px;
  }
  /* line 247, _source/_responsive.scss */
  .home div .detail1 .text, .home div .detail2 .text, .home div .detail-1 .text, .home div .detail-2 .text {
    padding-right: 10px;
  }
  /* line 250, _source/_responsive.scss */
  .home div .detail1 a, .home div .detail2 a, .home div .detail-1 a, .home div .detail-2 a {
    font-size: 1em;
  }
  /* line 254, _source/_responsive.scss */
  .home div .detail1 .thumb img, .home div .detail2 .thumb img, .home div .detail-1 .thumb img, .home div .detail-2 .thumb img {
    /*width: 100%;
    height: 80%;*/
    margin: auto;
  }
  /* line 261, _source/_responsive.scss */
  .home div .detail2 {
    font-size: 20px;
    padding-left: 20px;
    height: auto;
    margin-bottom: 10px;
  }
  /* line 267, _source/_responsive.scss */
  .home div .detail-1 {
    font-size: 20px;
    height: auto;
    margin-bottom: 10px;
  }
  /* line 271, _source/_responsive.scss */
  .home div .detail-1 .text {
    padding-right: 10px;
  }
  /* line 274, _source/_responsive.scss */
  .home div .detail-1 a {
    font-size: 1em;
  }
  /* line 278, _source/_responsive.scss */
  .home div .detail-2 {
    height: auto;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  /* line 286, _source/_responsive.scss */
  footer {
    padding: 10px 0;
    margin: 20px 0 15px 0;
  }
  /* line 291, _source/_responsive.scss */
  footer .menu .left {
    width: 100%;
  }
  /* line 294, _source/_responsive.scss */
  footer .menu .right {
    width: 100%;
    text-align: left;
  }

  /* line 300, _source/_responsive.scss */
  .col-xs-8 {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 305, _source/_responsive.scss */
  .inforaphic .right {
    font-size: 1.25em;
  }

  /* line 309, _source/_responsive.scss */
  .infoBlockLeftBlack {
    left: 1%;
  }
}
@media (max-width: 739px) {
  /* line 314, _source/_responsive.scss */
  .col-xs-12, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-4, .col-md-4, .col-lg-4 {
    padding-left: 20px;
    padding-right: 15px;
  }

  /* line 318, _source/_responsive.scss */
  .blockquot {
    height: auto;
  }

  /* line 321, _source/_responsive.scss */
  .home {
    background-position: 0px -21px;
  }
  /* line 324, _source/_responsive.scss */
  .home div .detail1, .home div .detail2, .home div .detail-1, .home div .detail-2 {
    padding-left: 3px;
  }
  /* line 327, _source/_responsive.scss */
  .home div .detail2 {
    padding-left: 3px;
  }
  /* line 330, _source/_responsive.scss */
  .home div .detail-1 {
    padding-left: 3px;
  }
  /* line 333, _source/_responsive.scss */
  .home div .detail-2 {
    padding-left: 3px;
  }

  /* line 338, _source/_responsive.scss */
  header {
    position: relative;
  }
  /* line 341, _source/_responsive.scss */
  header .bg {
    width: 100%;
    height: 98px;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  /* line 352, _source/_responsive.scss */
  header .menu {
    border: 0;
    /* menu main */
    /* menu lang */
  }
  /* line 354, _source/_responsive.scss */
  header .menu .desktop {
    display: none;
  }
  /* line 357, _source/_responsive.scss */
  header .menu .rmm {
    display: block;
  }
  /* line 361, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-main-list li a {
    display: inline-block;
    padding: 8px 30px 8px 30px;
    margin: 0px -3px 0px -3px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #3e587b;
    background-color: #537b9f;
    border-left: 1px solid #3e587b;
    background-image: url("../img/sapphire-menu-bg.png");
    background-repeat: repeat-x;
  }
  /* line 372, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-main-list li a:hover {
    background: #3e597b;
  }
  /* line 377, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled {
    width: 95%;
    background-color: #537b9f;
    min-height: 36px;
  }
  /* line 382, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled-controls {
    display: block;
    height: 36px;
    color: white;
    text-align: left;
    position: relative;
    background-image: url("../img/icon-menu.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  /* line 392, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled-title {
    position: relative;
    top: 9px;
    left: 15px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #3e587b;
  }
  /* line 401, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-button {
    display: block;
    position: absolute;
    right: 9px;
    top: 7px;
    width: 20px;
  }
  /* line 410, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled ul li a {
    display: block;
    width: 100%;
    background-color: #537698;
    text-align: left;
    font-size: 0.75em;
    text-indent: 16px;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #3c5779;
    border-top: 1px solid #6883a6;
    text-shadow: 1px 1px 1px #333333;
  }
  /* line 423, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled ul li a:active {
    background-color: #3c5779;
    border-bottom: 1px solid #3c5779;
    border-top: 1px solid #3c5779;
  }
  /* line 428, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled ul li a:hover {
    color: #bdcddf;
  }
  /* line 431, _source/_responsive.scss */
  header .menu .rmm.custom .rmm-toggled ul li:first-child a {
    border-top: 1px solid #3c5779 !important;
  }
  /* line 435, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-main-list li a {
    display: inline-block;
    padding: 8px 30px 8px 30px;
    margin: 0px -3px 0px -3px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #3e587b;
    background-color: #537b9f;
    border-left: 1px solid #3e587b;
    background-image: url("../img/sapphire-menu-bg.png");
    background-repeat: repeat-x;
  }
  /* line 446, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-main-list li a:hover {
    background: #3e597b;
  }
  /* line 451, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled {
    width: 40%;
    background-color: #537b9f;
    min-height: 36px;
  }
  /* line 456, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled-controls {
    display: block;
    height: 36px;
    color: white;
    text-align: left;
    position: relative;
    background-image: url("../img/icon-menu-lang.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  /* line 466, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled-title {
    position: relative;
    top: 9px;
    left: 15px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #3e587b;
  }
  /* line 475, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-button {
    display: block;
    position: absolute;
    right: 9px;
    top: 7px;
    width: 20px;
  }
  /* line 484, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled ul li a {
    display: block;
    width: 100%;
    background-color: #537698;
    text-align: left;
    font-size: 0.75em;
    text-indent: 16px;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #3c5779;
    border-top: 1px solid #6883a6;
    text-shadow: 1px 1px 1px #333333;
  }
  /* line 497, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled ul li a:active {
    background-color: #3c5779;
    border-bottom: 1px solid #3c5779;
    border-top: 1px solid #3c5779;
  }
  /* line 502, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled ul li a:hover {
    color: #bdcddf;
  }
  /* line 505, _source/_responsive.scss */
  header .menu .rmm.lang .rmm-toggled ul li:first-child a {
    border-top: 1px solid #3c5779 !important;
  }

  /* line 511, _source/_responsive.scss */
  .address_form .row_form {
    clear: both;
    margin-bottom: 10px;
  }
  /* line 515, _source/_responsive.scss */
  .address_form label {
    width: 20% !important;
  }
  /* line 518, _source/_responsive.scss */
  .address_form input {
    width: 70% !important;
    margin-right: 0;
  }
  /* line 522, _source/_responsive.scss */
  .address_form textarea {
    width: 69.7% !important;
  }
  /* line 525, _source/_responsive.scss */
  .address_form .mb20 {
    margin-bottom: 0;
  }

  /* line 527, _source/_responsive.scss */
  .infoBlock {
    top: 2%;
    width: 50%;
    height: 96%;
    font-size: 0.8em;
  }
}
@media (max-width: 660px) {
  /* line 543, _source/_responsive.scss */
  .home div.tab_video section .detail .iframvdo {
    width: 97%;
    height: 61%;
  }
  /* line 548, _source/_responsive.scss */
  .home div.tab_video section .detail ul.youtube_list li {
    width: 30%;
  }

  /* line 558, _source/_responsive.scss */
  .news .project_body {
    width: 60%;
  }

  /* line 564, _source/_responsive.scss */
  .contactus .address .left {
    float: none;
    width: 100%;
  }
  /* line 568, _source/_responsive.scss */
  .contactus .address .right {
    float: none;
    width: 100%;
    line-height: 1.2em;
    padding-left: 15px;
  }
}
@media (max-width: 520px) {
  /* line 578, _source/_responsive.scss */
  .infoBlock {
    min-width: 50%;
  }

  /* line 582, _source/_responsive.scss */
  .news .pull-left-cus {
    float: none !important;
    clear: both;
  }
  /* line 586, _source/_responsive.scss */
  .news img {
    width: 100%;
    height: auto;
  }
}
@media (max-height: 660px) {
  /* line 594, _source/_responsive.scss */
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
    /*height: 520px !important;*/
  }
}
@media (max-width: 480px) {
  /* line 599, _source/_responsive.scss */
  .home {
    font-size: 16px;
  }
  /* line 602, _source/_responsive.scss */
  .home div.tab_news, .home div.tab_infographic, .home div.tab_video {
    padding: 0;
  }
  /* line 605, _source/_responsive.scss */
  .home div.tab_news section h2, .home div.tab_infographic section h2, .home div.tab_video section h2 {
    height: 56px;
    line-height: 2.65em;
    font-size: 1.25em;
  }
  /* line 609, _source/_responsive.scss */
  .home div.tab_news section h2 a, .home div.tab_infographic section h2 a, .home div.tab_video section h2 a {
    text-align: center;
    text-indent: 0;
  }
  /* line 618, _source/_responsive.scss */
  .home div.tab_infographic section h2 {
    height: 56px;
    line-height: 2.65em;
  }
  /* line 621, _source/_responsive.scss */
  .home div.tab_infographic section h2 a {
    text-align: center;
    text-indent: 10px;
  }
  /* line 628, _source/_responsive.scss */
  .home div .detail1, .home div .detail2, .home div .detail-1, .home div .detail-2 {
    padding-left: 5px;
  }
  /* line 631, _source/_responsive.scss */
  .home div .detail2 {
    padding-left: 5px;
  }

  /* line 636, _source/_responsive.scss */
  .infoBlock {
    padding: 30px 0 20px 30px;
    min-width: 50%;
    top: 2%;
    font-size: 0.8em;
    line-height: 1em;
  }

  /* line 645, _source/_responsive.scss */
  footer .banner1 {
    width: 50%;
  }
  /* line 647, _source/_responsive.scss */
  footer .banner1 .txt_link {
    left: 60px;
  }
  /* line 649, _source/_responsive.scss */
  footer .banner1 .txt_link a {
    font-size: 8px;
  }
  /* line 652, _source/_responsive.scss */
  footer .banner2 {
    width: 50%;
  }
  /* line 656, _source/_responsive.scss */
  footer .menu .left {
    text-align: center;
  }
  /* line 659, _source/_responsive.scss */
  footer .menu .right {
    text-align: center;
  }

  /* line 665, _source/_responsive.scss */
  .inforaphic .left {
    width: 99%;
    padding: 2px 0 5px 0;
  }
  /* line 668, _source/_responsive.scss */
  .inforaphic .left img {
    width: 99%;
  }
  /* line 672, _source/_responsive.scss */
  .inforaphic .right {
    width: 95%;
    font-size: 1em;
    padding: 2px 0 15px 0;
  }
  /* line 678, _source/_responsive.scss */
  .inforaphic .right a.read {
    font-size: 0.95em;
  }

  /* line 685, _source/_responsive.scss */
  .news .project_body {
    width: 50%;
  }
  /* line 689, _source/_responsive.scss */
  .news .img_detail img {
    width: 99%;
  }
}
@media (max-width: 320px) {
  /* line 694, _source/_responsive.scss */
  .infoBlock {
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 30px !important;
  }

  /* line 700, _source/_responsive.scss */
  .sub-name {
    line-height: 18px;
  }

  /* line 708, _source/_responsive.scss */
  .home div.tab_video section .detail .iframvdo {
    width: 97%;
    height: 61%;
  }
  /* line 713, _source/_responsive.scss */
  .home div.tab_video section .detail ul.youtube_list li {
    width: 29%;
  }

  /* line 724, _source/_responsive.scss */
  footer .banner1 .txt_link {
    width: 100%;
    left: 60px;
    top: 32px;
  }
  /* line 728, _source/_responsive.scss */
  footer .banner1 .txt_link a {
    font-size: 8px;
  }
}
@media screen\0 {
  /* line 169, _source/theme.scss */
  img.img-responsive {
    width: auto;
  }
}
