<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#eeeeee;">
  <tr>
    <td align="center" valign="middle"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:6px;background-color:none;margin:20px 0 20px 0;">
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td align="center"></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-radius:6px;background-color:#ffffff;">
          <tr>
            <td align="center"><table width="570" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="center">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2"><h2 style="font-size:24px;line-height:20px;">Contact Us</h2></td>
              </tr>
              <tr>
                <td width="108" height="30" align="right">&nbsp;<span style="color:#666;">Name: </span></td>
                <td width="462">&nbsp;<span style="color:#666;">[name]</span></td>
              </tr>
              <tr>
                <td height="30" align="right">&nbsp;<span style="color:#666;">EMail : </span></td>
                <td>&nbsp;<span style="color:#666;">[email]</span></td>
              </tr>
			  <tr>
                <td height="30" align="right">&nbsp;<span style="color:#666;">Phone : </span></td>
                <td>&nbsp;<span style="color:#666;">[phone]</span></td>
              </tr>
              <tr>
                <td height="30" align="right">&nbsp;<span style="color:#666;">Message : </span></td>
                <td>&nbsp;<span style="color:#666;">[message]</span></td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="40" align="center">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>