.contactus{
	font-size: 22px;
	font-size/*\**/:18px\9; /* for IE7-8 */
	.address{
		color: #000;
		font-size: 0.9em;
		margin-top: 10px;
		margin-bottom: 30px;
		.title{
			color: #5579a2;
			font-size: 1.2em;
			font-size/*\**/:16px\9; /* for IE7-8 */
			font-family: 'ozonex-m';
		}
		.left{
			float: left;
			width: 31.3333%;
			padding-left: 15px;
		}
		.right{
			float: left;
			width: 60.6666%;
			line-height: 1.7em;
			font-size/*\**/:14px\9; /* for IE7-8 */
		}
	}
	.address_form{
		color: #000;
		margin-top: 20px;
		.row_form{}
		.mb20{ margin-bottom: 20px; }
		label{
			float: left;
			width: 10.6666%;
			font-family: 'ozonex';
			font-size: 0.8em;
			font-weight: 400;
			line-height: 2em;
		}
		input{
			height: 34px;
			width: 220px;
			border:0;
			background-color: #f1f1f1;
			float: left;
			margin-right: 20px;
		}
		textarea{
			background-color: #f1f1f1;
			border:0;
			width: 82.7%;
		}
		.btn_confirm{
			padding: 6px 16px;
			width: auto !important;
			background-color: #5579a2;
			border:1px solid #99afc7;
			text-align: center;
			color: #fff;
			line-height: 0.5em !important;
			float: right;
			margin-right: 40px;
		}
	}
}