.downloads{
	width: 100%;
	color: #000;
	line-height: 0.955em;
	font-size: 18px;
	font-size/*\**/:14px\9; /* for IE7-8 */
	display: table;

	ul{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			text-indent: 10px;
			h3{
				font-size: 1.1em;
				font-size/*\**/:14px\9; /* for IE7-8 */
				color: #000;
			}
			&:before {
			    content: "";
				line-height: 1em;
				width: .3em;
				height: .3em;
				background-color: #5579a2;
				float: left;
				margin: .25em .25em 20px;
				border-radius: 50%;
			}
			.title{
				line-height: 1.2em;
				width: 70%;
				float: left;
				margin-left: 25px;
				padding: 0;
				&:before {
			    	content: "- ";
				}
			}
			.icon_download{
				width: 20px;
				height: auto;
				line-height: 1.8em;
				float: left;
				img{
					border: 0;
				}
			}
		}
	}
}