@font-face {
    font-family: 'ozonex';
    src: url('font/DBOzoneX.eot');
    src: url('font/DBOzoneX.eot?#iefix') format('embedded-opentype'),
         url('font/DBOzoneX.woff') format('woff'),
         url('font/DBOzoneX.ttf') format('truetype'),
         url('font/DBOzoneX.svg#AftaserifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ozonex-b';
    src: url('font/DBOzoneX-Bold.eot');
    src: url('font/DBOzoneX-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/DBOzoneX-Bold.woff') format('woff'),
         url('font/DBOzoneX-Bold.ttf') format('truetype'),
         url('font/DBOzoneX-Bold.svg#AftaserifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ozonex-m';
    src: url('font/DBOzoneX-Medium.eot');
    src: url('font/DBOzoneX-Medium.eot?#iefix') format('embedded-opentype'),
         url('font/DBOzoneX-Medium.woff') format('woff'),
         url('font/DBOzoneX-Medium.ttf') format('truetype'),
         url('font/DBOzoneX-Medium.svg#AftaserifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}