.home{
	width: 100%;
	background-image: url('../img/bg_home.jpg');
	background-repeat: no-repeat;
	background-position: top left;

	a{
		&.curr_tab{
			background-color: #5579a2;
		}
		&.normal_tab{
			background-color: #cbcbcb;
		}
	}
	div{
		&.tab_news{
			background-color: #5579a2;
			border: none;
			border-top: 1px solid #788da1;
			border-right: 1px solid #fff;

			section{
				overflow: hidden;

				h2{
					line-height: 2.5em;
					display: block;
					height: 76px;
					font-size: 1.5em;
					padding: 0;
					margin: 0;
					color: #fff;
					text-align: left;
					text-indent: 13px;
					text-transform: uppercase;
					a{
						display: block;
						width: 100%;
						height: 100%;
						text-decoration: none;
						color: #fff;
						&:hover{
							background-color: #3879d9;
						}
					}
				}
			}
		}
		&.tab_infographic{
			@extend .tab_news;
			background-color: #cbcbcb;
			border-left: none;
		}
		&.tab_video{
			@extend .tab_news;
			section{
				.detail{
					padding-top: 0;
					background-color: #5579a2;
					height: 231px;
					padding-top: 7px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		.detail1{
			background-image: url('../img/title_news.jpg');
			background-repeat: no-repeat;
			background-position: 20px 10px;
			background-color: #fff;
			padding-top: 37px;
			padding-left: 20px;
			padding-right: 10px;
			height: 231px;

			.text{
				height: 158px;
				overflow: hidden;

				p{
					color: #727272;
					line-height: 1.1em;
				}
			}
			a{
				display: block;
				height: 20px;
				text-align: right;
				font-size: 0.9em;
				padding-right: 10px;
			}
		}
		.detail2{
			@extend .detail1;
			background:none;
			background-color: #fff;
			padding-left: 5px;
			padding-top: 37px;
		}
		.detail-1{
			@extend .detail1;
			background:none;
			background-color: #fff;
			padding-left: 20px;
			padding-top: 17px;
		}
		.detail-2{
			@extend .detail1;
			background:none;
			background-color: #fff;
			padding-left: 5px;
			padding-top: 17px;
		}
	}
}