.inforaphic{
	width: 100%;
	height: auto;
	.left{
		float: left;
		width: 49.9999%;
		img{
			width: 100%;
			height: 100%;
			border:1px solid #dfdfdf;
		}
	}
	.right{
		float: left;
		width: 49.9999%;
		.title{
			font-size: 1em;
			color: #5579a2;
			font-family: 'ozonex-m';
			line-height: 1em;
			padding-left: 10px;
			overflow: hidden;
		}
		a{
			&.read{
				display: list-item;
				list-style: none;
				text-align: right;
				font-size: 0.9em;
				font-family: 'ozonex-m';
				color: #5579a2;
				text-decoration: none;
				margin-top: 10px;
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}