.partner{
	width: 100%;
	color: #000;
	line-height: 0.95em;
	font-size/*\**/:14px\9; /* for IE7-8 */
	line-height/*\**/: 1.3em\9; /* for IE7-8 */

	.tab_ourpartner{
		width: 100%;
		padding: 7px;
		font-family: 'ozonex-m';
		font-size: 1.1em;
		color: #5579a2;
		margin-top: 40px;
		background-color: #f4f4f4;
	}
	img{
		text-align: left;
		margin: 0 10px 15px 0;
	}
	.media-heading{
		font-size: 1em;
		font-weight: 600;
	}
}