header{
	.menu{
		.container{
			.items{
				a{
					font-size:12px;
					font-weight: bold;
				}
			}
		}
	}
}
h1{
	&.title{
		font-size:18px;
	}
}
.blockquot{
	font-size: 14px;
}
.description{
	font-size:14px;
	p{
		line-height:1.5em;
	}
}
.navi{
	font-size:14px;
	line-height: 2em;
}
.menu_left{
	a{
		font-size:12px;
		font-weight:600;
	}
}
.contactus{
	font-size:18px;
	.address{
		.title{
			font-size:16px;
		}
		.right{
			font-size:14px;
		}
	}
}
.downloads{
	font-size:14px;
	ul{
		li{
			h3{
				font-size:14px;
			}
		}
	}
}
footer{
	.menu{
		.left{
			font-size:9px;
			a{
				font-size:9px;
			}
		}
		.right{
			font-size:10px;
		}
	}
}
header{
	.menu{
		.container{
			.items{
				a{
					font-size:12px;
					font-weight: bold;
				}
			}
		}
	}
}
.home{
	div{
		&.tab_news{
			section{
				h2{
					line-height: 3.4em;
					font-size: 24px;
				}
			}
		}
		&.tab_infographic{
			section{
				h2{
					line-height: 3.4em;
					font-size: 24px;
				}
			}
		}
		&.tab_video{
			section{
				h2{
					line-height: 3.4em;
					font-size: 24px;
				}
			}
		}
		.detail1{
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
		.detail2{
			background:none;
			background-color: #fff;
			padding-left: 5px;
			padding-top: 37px;
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
		.detail-1{
			background:none;
			background-color: #fff;
			padding-left: 20px;
			padding-top: 17px;
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
		.detail-2{
			background:none;
			background-color: #fff;
			padding-left: 5px;
			padding-top: 17px;
			.text{
				p{
					font-size: 16px;
					line-height: 1.45em;
				}
			}
			a{
				font-size: 16px;
			}
		}
	}
}
.inforaphic{
	.right{
		.title{
			font-size:16px;
			line-height: 20px;
		}
		a{
			&.read{
				font-size:12px;
			}
		}
	}
}
.news{
	font-size:14px;
	line-height: 1.3em;
	.project_percent{
		line-height: 0.9em;
	}
}
.partner{
	font-size:14px;
	line-height: 1.3em;
}
.infoBlock h4 {
   font-size: 28px;
   line-height: 36px;
}
@media (max-width: 1017px) {
	header{
		.menu{
			.container{
				.items{
					a{
						font-size:12px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.blockquot{
		&.title{
			font-size: 18px;
		}
	}
}
@media (max-width: 767px) {
	.home{
		div{
			&.tab_news{
				border:0;

				section{
					h2{
						height: 56px;
						font-size: 18px;
						line-height: 3em;
					}
				}
			}
			&.tab_infographic{
				border:0;

				section{
					h2{
						height: 56px;
						font-size: 18px;
						line-height: 3em;
					}
				}
			}
			&.tab_video{
				border:0;

				section{
					h2{
						height: 56px;
						font-size: 18px;
						line-height: 3em;
					}
					.detail{
						height: 301px;
					}
				}
			}
			.detail1{
				font-size: 16px;
				.text{
					padding-right: 10px;
				}
				a{
					font-size: 1em;
				}
			}
			.detail2{
				font-size: 16px;
				padding-left: 20px;
			}
			.detail-1{
				font-size: 16px;
				.text{
					padding-right: 10px;
				}
				a{
					font-size: 1em;
				}
			}
			.detail-2{
				font-size: 16px;
				padding-left: 20px;
			}
		}
	}
}
@media (max-width: 739px) {
	header{
		.menu{
			.rmm.custom .rmm-main-list li a {
				padding:8px 10px;
			}
		}
	}
}